<div id="main" role="main">
	<div class="page-message">
		Your account has successfully been created.
	</div>
	<p>
		<a href="javascript:alert('Link Not Implemented');" title="Continue Browsing" class="action grey"><i class="icon icon-pre-arrow-large"></i> Continue Browsing</a>
	</p>
</div>