<div id="main" role="main" class="account-create label-inline">
	<div class="callout">
		<h1>Create a new Cub Cadet Account</h1>
		<% if logged_in? %>
		<p>
			You are currently logged in. Please <a href="/">click here</a> to continue shopping.
		</p>
		<% else %>
		<div class="checkout-block">
			<form action="/register" method="post" class="validate register" novalidate>
				<div class="form-unit">
					<div class="form-input">
						<label for="username">Email (Username):</label>
						<input type="email" name="username" id="username" data-valid="error-username" required />
					</div>
					<span class="error-field hide" id="error-username">Email is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="password">Password:</label>
						<input type="password" name="password" id="password" data-valid="error-password" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
					</div>
					<span class="error-field hide" id="error-password">Password is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="password-confirm">Confirm Password:</label>
						<input type="password" name="password_confirm" id="password-confirm" data-valid="error-password-confirm" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
					</div>
					<span class="error-field hide" id="error-password-confirm">Confirm password is a required field</span>
				</div>
				<div class="form-checkbox">
					<div class="form-input">
						<input type="checkbox" name="newsletter" id="newsletter" value="1" class="block-check">			
						<label class="block-label">Yes, please send me e-mails about special offers, exclusives, and promotions from Cub Cadet.</label>
					</div>
				</div>
				<button class="action large create-account" type="submit">Create Account</button>	
				<p class="user-errors hide">You missed a required field(s) or have entered invalid field information. Please review the form for errors.</p>					
				<p class="user-pwd-match hide">Your password's do not match. Please enter and confirm your password again.</p>
			</form>
		</div>
		<% end %>
	</div>	
</div>	