	<nav class="bread">
		<a href="/cart" title="Shopping Cart">Shopping Cart</a>
	</nav>
	<div id="main" role="main" class="label-inline shopping-cart">
		<div class="content">
			<div class="table cart-options">
				<div class="row">
					<div class="cell">
						<a href="javascript:alert('Link Not Implemented');" title="Continue Shopping" class="action grey"><i class="icon icon-pre-arrow-large"></i> Continue Shopping</a>
					</div>
				</div>
			</div>
			<ul class="product-list cart">
				<li>
					<p class="error">The product <strong><%=@product['name']%></strong> cannot be added to your Shopping Cart at this time.</p>
				</li>
			</ul>
		</div>
	</div>