	<nav class="bread">
		<a href="/cart" title="Shopping Cart">Shopping Cart</a>
	</nav>
	<div id="main" role="main" class="label-inline shopping-cart">
		<div class="content">
			<% if @cart %>
			<% if @error %>
			<ul class="form-errors">
				<li>Please enter a valid promo code.</li>
				<li>Please enter a valid email address.</li>
			</ul>
			<% end %>
			<div class="table cart-options">
				<div class="row">
					<div class="cell">
						<a href="javascript:alert('Link Not Implemented');" title="Continue Shopping" class="action grey"><i class="icon icon-pre-arrow-large"></i> Continue Shopping</a>
					</div>
					<div class="cell right">
						<a href="/cart/checkout" title="Checkout" class="action red"><i class="icon-checkout pictos"></i> Checkout</a>
					</div>
				</div>
			</div>
			<ul class="product-list cart">
				<% @cart.each do |k,v| %>
				<li>
					<div class="row">
						<div class="photo cell">
							<a href="/products/detail" title="<%= "#{v['product_name']}" %>">
								<span class="img-wrap">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/<%= "#{v['product_photo']}" %>" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/<%= "#{v['product_photo_hd']}" %>" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/<%= "#{v['product_photo']}" %>">
									</noscript>
								</span>
							</a>
						</div>
						<div class="data cell">
							<a href="/products/detail" title="<%= "#{v['product_name']}" %>" class="title"><%= "#{v['product_name']}" %></a>
							<span>Item: 12A-A1M9001</span>
							<span class="qty">Quantity: <%= "#{v['product_quantity']}" %></span>
							<span>Style: Medium Grey</span>
							<div class="price-buttons">
								<div class="row">
									<span class="price-one"><del><strong>$<%= "#{sprintf("%0.2f",v['product_price'])}" %></strong></del></span>
									<span class="price-two"><strong>$<%= "#{sprintf("%0.2f",v['product_price'])}" %></strong></span>
								</div>
								<div class="row info-shipping">
									<p class="special-msg">Status: Back Ordered - Available 06/01/2012</p>
									<p>Shipping Method: LTL</p>
								</div>
							</div>
						</div>
					</div>					
					<div class="item-options row">
						<div class="photo cell"></div>
						<div class="data cell">
							<span class="action grey">
								<form method="post" action="/cart/update" class="update">
									<input type="hidden" name="product_id" value="<%= "#{k}" %>" >
									<input type="hidden" name="product_price" value="<%= "#{v['product_price']}" %>" >
									<select name="product_quantity" class="select-submit">
										<option value="1"<%=(v['product_quantity'] == '1') ? ' selected' : '' %>>QTY 1</option>
										<option value="2"<%=(v['product_quantity'] == '2') ? ' selected' : '' %>>QTY 2</option>
										<option value="3"<%=(v['product_quantity'] == '3') ? ' selected' : '' %>>QTY 3</option>
										<option value="4"<%=(v['product_quantity'] == '4') ? ' selected' : '' %>>QTY 4</option>
										<option value="5"<%=(v['product_quantity'] == '5') ? ' selected' : '' %>>QTY 5</option>
										<option value="6"<%=(v['product_quantity'] == '6') ? ' selected' : '' %>>QTY 6</option>
										<option value="7"<%=(v['product_quantity'] == '7') ? ' selected' : '' %>>QTY 7</option>
										<option value="8"<%=(v['product_quantity'] == '8') ? ' selected' : '' %>>QTY 8</option>
										<option value="9"<%=(v['product_quantity'] == '9') ? ' selected' : '' %>>QTY 9</option>
										<option value="10"<%=(v['product_quantity'] == '10') ? ' selected' : '' %>>QTY 10</option>
									</select>
								</form>
							</span>
							<form method="post" action="/cart/delete" class="delete">
								<input type="hidden" name="product_id" value="<%= "#{k}" %>" >
								<button type="submit" class="action grey">Remove Item</button>
							</form>
						</div>
					</div>
				</li>
				<% end %>
			</ul>
			<div class="promo-code">
				<span class="toggle" data-toggle="form-promo" id="promo-toggle">Have a Promo code? <i class="pictos icon-circle-plus promo"></i></span>
				<form method="post" action="/cart/promo" id="form-promo" class="hide validate" novalidate>
					<div class="form-unit">
						<div class="form-input">
							<label for="promo-code">Promo Code:</label>
							<input type="text" name="promo_code" id="promo-code" data-valid="error-promo-code" required>
						</div>
						<span class="error-field hide" id="error-promo-code">Promo Code is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="promo-email">Email Address:</label>
							<input type="email" name="promo_email" id="promo-email" data-valid="error-promo-email" required>
						</div>
						<span class="error-field hide" id="error-promo-email">Email address is a required field</span>
					</div>
					<div>
						<span class="why">Why we need your email?</span>
						<p id="why-email">Each promotional code is only allowed to be used a certain number of times. We use your email address to determine how many times you have used a particular promotional code. By entering your email address here, you will NOT be sent any emails or added to any email lists. We are just using your email address for validation purposes. Please see our Privacy Policy for further information.</p>
					</div>
					<button type="submit" class="action grey"><i class="icon icon-pre-arrow-large"></i> Apply the Promo Code</button>
				</form>
			</div>
			<div class="table cart-options bottom">
				<div class="row">
					<div class="cell verisign">
						<span class="img-wrap">
							<img data-img="/wcpics/CubCadetMobile/en_US/images/verisign.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/verisign-2x.png" class="lazy-load">
							<noscript>
								<img src="/wcpics/CubCadetMobile/en_US/images/verisign.png">
							</noscript>
						</span>
					</div>
					<div class="cell cart-totals">
						<div class="table">
							<div class="row">
								<div class="cell">Item Total:</div>
								<div class="cell">$<% if (@cart_amount) %><%=sprintf("%0.2f", @cart_amount)%><% end %></div>
							</div>
							<div class="row">
								<div class="cell">Savings:</div>
								<div class="cell">-$12.00</div>
							</div>
							<div class="row border">
								<div class="cell">Shipping:</div>
								<div class="cell">$6.00</div>
							</div>
							<div class="row">
								<div class="cell"><strong>Subtotal:</strong></div>
								<div class="cell"><strong>$<% if (@cart_subamount) %><%=sprintf("%0.2f",@cart_subamount)%><% end %></strong></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table cart-options">
				<div class="row">
					<div class="cell">
						<a href="javascript:alert('Link Not Implemented');" title="Continue Shopping" class="action grey"><i class="icon icon-pre-arrow-large"></i> Continue Shopping</a>
					</div>
					<div class="cell right">
						<a href="/cart/checkout" title="Checkout" class="action red"><i class="icon-checkout pictos"></i> Checkout</a>
					</div>
				</div>
			</div>
			<% else %>
				<p class="empty">Your cart is currently empty.</p>
				<p class="empty">
					<a href="javascript:alert('Link Not Implemented');" title="Continue Shopping" class="action grey"><i class="icon icon-pre-arrow-large"></i> Continue Shopping</a>
				</p>
			<% end %>
		</div>
	</div>