<div id="main" role="main" class="change-password label-inline">
	<div class="callout">
		<h1>Change Password</h1>
		<!-- Server Side Errors, use html below.
		<div class="form-errors">
			<p>Please correct the following information:</p>
			<ul>
				<li>Please enter your username, it normally is your email address.</li>
				<li>Please enter your password.</li>
			</ul>
		</div>
		-->
		<div class="checkout-block">
			<p>Your password has been successfully updated.</p>
		</div>
	</div>
	<nav class="drill-down">
		<ul class="expandable">
			<li class="collapsed" id="find-products">
				<a href="#find-products" title="Find A Product" class="expand">Find A Product <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<ul class="level-two nav-with-pic products">
						<li>
							<a href="/products/lawn-garden">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden.png">
									</noscript>
								</div>
								Lawn &amp; Garden Tractors <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/riding-mowers">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/riding.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/riding-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/riding.png">
									</noscript>
								</div>
								Zero Turn Riding Mowers <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/walk-behind">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/walk-behind.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/walk-behind-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/walk-behind.png">
									</noscript>
								</div>
								Walk Behind Mowers <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/handheld">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/handheld.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/handheld-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/handheld.png">
									</noscript>
								</div>
								Handheld &amp; Cleanup <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/snow-throwers">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/snow-throwers.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/snow-throwers-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/snow-throwers.png">
									</noscript>
								</div>
								Snow Throwers <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/utility-vehicles">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/utility-vehicles.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/utility-vehicles-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/utility-vehicles.png">
									</noscript>
								</div>
								Utility Vehicles <i class="icon icon-arrow-r"></i>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="collapsed" id="where-to-buy">
				<a href="#where-to-buy" title="Where to Buy" class="expand">Where to Buy <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<ul class="level-two nav-with-pic nav-where-buy">
						<li>
							<a href="/stores/home-depot">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/home-depot.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/home-depot-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/home-depot.png">
									</noscript>
								</div>
								Home Depot <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/stores/tractor-supply">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/tractor-supply.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/tractor-supply-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/tractor-supply.png">
									</noscript>
								</div>
								Tractor Supply <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/dealers">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/cub-cadet.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/cub-cadet-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/cub-cadet.png">
									</noscript>
								</div>
								Independent Dealers <i class="icon icon-arrow-r"></i>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li><a href="/service-centers" title="Authorized Service Locations">Authorized Service Locations <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/find-parts" title="Find Genuine Parts">Find Genuine Parts <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/owners" title="Owner’s Center">Owner's Center <i class="icon icon-arrow-r"></i></a></li>
		</ul>
	</nav>
</div>