<nav class="bread">
	<a href="/cart/checkout" title="Checkout">Checkout</a>
</nav>
<div id="main" role="main" class="label-inline checkout-signin">
	<div class="content">
		<!-- Server Side Errors, use html below.
		<ul class="form-errors">
			<li>Please enter a valid promo code.</li>
			<li>Please enter a valid email address.</li>
		</ul> 
		-->
		<ul class="checkout-progress">
			<li class="steps">1. sign in</li>
			<li>2. shipping</li>
			<li>3. payment</li>
			<li>4. thank you</li>
		</ul>
		<div class="checkout-block">
			<h2>Continue as guest</h2>
			<p>You may continue as a guest to make your purchase. You will have the option to create a new account after entering your shipping/billing information. If you already have an account, please sign in.</p>
			<div class="table">
				<div class="row">
					<div class="cell">
						<a href="/cart/checkout/shipping" class="action red large">Continue</a>
					</div>
					<div class="cell verisign">
						<span class="img-wrap">
							<img data-img="/wcpics/CubCadetMobile/en_US/images/verisign.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/verisign-2x.png" class="lazy-load">
							<noscript>
								<img src="/wcpics/CubCadetMobile/en_US/images/verisign.png">
							</noscript>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="checkout-block">
			<h2 class="toggle">Sign In</h2>
			<form action="/login" method="post" class="validate form-signin" id="form-signin" novalidate>
				<div class="form-unit">
					<div class="form-input">
						<label for="username">Username (Email)</label>
						<input type="text" name="username" id="username" data-valid="error-username" required>
					</div>
					<span class="error-field hide" id="error-username">Username (Email) is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" data-valid="error-password" required>
						<a href="/forgot-password?from=cart" title="forgot password?" id="forgot-password-link">Forgot password?</a>
					</div>
					<span class="error-field hide" id="error-password">Password is a required field</span>
				</div>
				<input type="hidden" name="return_url" value="/cart/checkout/shipping" />
				<button class="action red large" type="submit">Sign In</button>	
			</form>
		</div>
	</div>
</div>