	<nav class="bread">
		<a href="/cart/checkout" title="Checkout">Checkout</a>
	</nav>
	<div id="main" role="main" class="label-inline checkout-thanks">
		<div class="content">
			<!-- Server Side Errors, use html below.
			<ul class="form-errors">
				<li>Please enter a valid promo code.</li>
				<li>Please enter a valid email address.</li>
			</ul> 
			-->
			<ul class="checkout-progress">
				<li class="steps">1. sign in</li>
				<li class="steps">2. shipping</li>
				<li class="steps">3. payment</li>
				<li class="steps">4. thank you</li>
			</ul>
			<div class="checkout-block order-confirm">
				<p class="related"><strong>Order Confirmation</strong></p>
				<p class="related"><strong>Confirmation #: 1a345b78c0</strong></p>
				<p class="related"><strong>An email has been sent to jake@bazaar.com</strong></p>
			</div>
			<div class="checkout-block account-create">
				<h2>Would you like to create an account?</h2>
				<form action="/register" method="post" class="validate account-create" novalidate>
					<input type="hidden" name="username" value="jake@bazaar.com">
					<p>Username: <strong>jake@bazaar.com</strong></p>
					<div class="form-unit">
						<div class="form-input">
							<label for="password">Password:</label>
							<input type="password" name="password" id="password" data-valid="error-password" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
						</div>
						<span class="error-field hide" id="error-password">Password is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="password-confirm">Confirm Password:</label>
							<input type="password" name="password_confirm" id="password-confirm" data-valid="error-password-confirm" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
						</div>
						<span class="error-field hide" id="error-password-confirm">Confirm password is a required field</span>
					</div>
					<div class="form-checkbox">
						<div class="form-input">
							<input type="checkbox" name="newsletter" id="newsletter" value="1" class="block-check">			
							<label class="block-label">Yes, please send me e-mails about special offers, exclusives, and promotions from Cub Cadet.</label>
						</div>
					</div>
					<button class="action red large">Create Account</button>					
					<p class="user-errors hide">You missed a required field(s) or have entered invalid field information. Please review the form for errors.</p>					
					<p class="user-pwd-match hide">Your password's do not match. Please enter and confirm your password again.</p>
				</form>
			</div>
			<ul id="view-cart" class="product-list cart">
				<% @cart.each do |k,v| %>
				<li>
					<div class="row">
						<div class="photo cell">
							<a href="/products/detail" title="<%= "#{v['product_name']}" %>">
								<img src="/wcpics/CubCadetMobile/en_US/images/content/<%= "#{v['product_photo']}" %>" alt="Product Name" />
							</a>
						</div>
						<div class="data cell">
							<a href="/products/detail" title="<%= "#{v['product_name']}" %>" class="title"><%= "#{v['product_name']}" %></a>
							<span>Item: 12A-A1M9001</span>
							<div class="price-buttons">
								<div class="row">
									<span class="price-one"><del><strong>$<%= "#{sprintf("%0.2f",v['product_price'])}" %></strong></del></span>
									<span class="price-two"><strong>$<%= "#{sprintf("%0.2f",v['product_price'])}" %></strong></span>
								</div>
								<div class="row">
									<span>Quantity: <%= "#{v['product_quantity']}" %><br/>
									Style: Medium Grey<br/>
									Status: Back Ordered</span>
								</div>
								<div class="row info-shipping">
									<p>Shipping Method: LTL</p>
								</div>
							</div>
						</div>
					</div>					
				</li>
				<% end %>
			</ul>
			<div class="checkout-block shipping">
				<h2>Shipping Information</h2>
				<p class="related">Jake Bazaar</p>
				<p class="related">1348 Iconic Lane</p>
				<p class="related">Cleveland, OH 44105</p>
				<p class="related">(777) 444-5577</p>
				<p class="related last">jake@bazaar.com</p>
				<h2>Billing Information</h2>
				<p class="related">Visa XXXX-XXXX-XXXX-XXXX</p>
				<p class="related">Jake Bazaar</p>
				<p class="related">1348 Iconic Lane</p>
				<p class="related">Cleveland, OH 44105</p>
				<p class="related">(777) 444-5577</p>
				<p class="related last">jake@bazaar.com</p>	
			</div>
			<div class="table cart-options bottom">
				<div class="row">
					<div class="cell verisign middle">
						<span class="img-wrap">
							<img data-img="/wcpics/CubCadetMobile/en_US/images/verisign.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/verisign-2x.png" class="lazy-load">
							<noscript>
								<img src="/wcpics/CubCadetMobile/en_US/images/verisign.png">
							</noscript>
						</span>
					</div>
					<div class="cell cart-totals">
						<div class="table">
							<div class="row">
								<div class="cell">Item Total:</div>
								<div class="cell">$<% if (@cart_amount) %><%=sprintf("%0.2f", @cart_amount)%><% end %></div>
							</div>
							<div class="row">
								<div class="cell">Savings:</div>
								<div class="cell">-$12.00</div>
							</div>
							<div class="row">
								<div class="cell">Shipping:</div>
								<div class="cell">$6.00</div>
							</div>
							<div class="row border">
								<div class="cell">Tax:</div>
								<div class="cell">$0.00</div>
							</div>
							<div class="row">
								<div class="cell"><strong>Total:</strong></div>
								<div class="cell"><strong>$<% if (@cart_subamount) %><%=sprintf("%0.2f",@cart_subamount)%><% end %></strong></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>