<div id="main" role="main" class="contact">
	<div class="callout">
		<h1>How may we help you?</h1>
		<p>
			As our valued customer, you have help available right here, any time you need it.
		</p>
		<p>
			<a href="javascript:alert('Link not implemented yet');" rel="nofollow" class="action faq"><i class="icon icon-pre-arrow-large"></i> Frequently Asked Questions </a>
		</p>
		<p>
			Touch the button above to view FAQs or submit a question to our dedicated support team.
		</p>	
		<p class="related">Need Help?</p>	
		<p>
			<a href="tel:1-800-269-6215" rel="nofollow" class="action call-help"><i class="icon icon-phone"></i> Call 1-800-269-6215</a>
		</p>	
		<p>
			<strong>Mon - Fri 8AM - 8PM EST<br />
			Sat 9AM - 5PM EST<br/>
			Sun 9AM - 3PM EST</strong>
		</p>
	</div>
</div>