<div id="main" role="main" class="finance">
	<div class="callout">	
		<span class="img-wrap">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/zero-turn.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/zero-turn-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/zero-turn.png">
			</noscript>
		</span>
		<h1>GREAT FINANCING FOR GREAT PRODUCTS</h1>
		<p>
			Right now, you can take advantage of special financing from Cub Cadet to purchase a riding lawn mower, garden tractor, or one of our zero turn lawn tractors. See your local independent dealer for details to apply or apply online.
		</p>
		<p>
			<a href="/finance-apply" title="Apply Online" class="action apply-online"><i class="icon icon-pre-arrow-large"></i> Apply Online</a>	
		</p>
		<p>
			<a href="/dealers" title="Find a Dealer" class="action grey find-dealer"><i class="icon icon-pre-arrow-large"></i> Find a Dealer</a>
		</p>
	</div>	
	<nav class="drill-down">
		<ul class="expandable">
			<li class="collapsed" id="finance-option-1">
				<a href="#finance-option-1" title="1.99 for 36 months" class="expand">1.99 for 36 months <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat, risus vitae vestibulum lacinia, nunc lorem condimentum erat, eget lobortis nunc lacus sit amet massa. Donec vel lorem eget quam porta aliquam in et erat. Nulla blandit pretium feugiat.
					</p>	
				</div>
			</li>
			<li class="collapsed" id="finance-option-2">
				<a href="#finance-option-2" title="2.99 for 48 months" class="expand">2.99 for 48 months <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat, risus vitae vestibulum lacinia, nunc lorem condimentum erat, eget lobortis nunc lacus sit amet massa. Donec vel lorem eget quam porta aliquam in et erat. Nulla blandit pretium feugiat.
					</p>
				</div>
			</li>
			<li class="collapsed" id="finance-option-3">
				<a href="#finance-option-3" title="9.xx for xx months" class="expand">9.xx for xx months <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat, risus vitae vestibulum lacinia, nunc lorem condimentum erat, eget lobortis nunc lacus sit amet massa. Donec vel lorem eget quam porta aliquam in et erat. Nulla blandit pretium feugiat.
					</p>
				</div>
			</li>
			<li class="collapsed" id="finance-option-4">
				<a href="#finance-option-4" title="3.xx for xx months" class="expand">3.xx for xx months <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat, risus vitae vestibulum lacinia, nunc lorem condimentum erat, eget lobortis nunc lacus sit amet massa. Donec vel lorem eget quam porta aliquam in et erat. Nulla blandit pretium feugiat.
					</p>
				</div>
			</li>
			<li class="collapsed" id="finance-option-5">
				<a href="#finance-option-5" title="12.xx for xx months" class="expand">12.xx for xx months <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat, risus vitae vestibulum lacinia, nunc lorem condimentum erat, eget lobortis nunc lacus sit amet massa. Donec vel lorem eget quam porta aliquam in et erat. Nulla blandit pretium feugiat.
					</p>
				</div>
			</li>
		</ul>
	</nav>		
</div>