<div id="main" role="main" class="finance-apply">
	<div class="callout">
		<h1>Apply Online</h1>
		<p>The application for financing is not mobile-friendly. We recommend filling the form out from a traditional computer (laptop or desktop) to make the process easier.</p>
		<p>You can, however, continue to the application and complete the form from your mobile device.</p>
		<a class="action" href="javascript:alert('Link not implemented');" id="full-go"><i class="icon icon-pre-arrow-large"></i> Continue to application</a> 
	</div>
</div>
