<div id="main" role="main">
	<% if @part_not_found %>
	<div class="page-error">
		We could not find part <strong>#<%= params[:part_number] %></strong>. <br/>Please make sure you entered the correct part number.
	</div>	
	<% end %>
	<div id="part-finder-widget" class="callout">
		<h1>Part Finder</h1>
		<form class="part-finder-form validate" method="post" action="/find-parts" novalidate>
			<div class="form-unit cell">
				<div class="form-input">
					<label for="part-number">Know Your Part Number?</label>
					<input type="text" id="part-number" name="part_number" class="alt" required data-valid="error-part-number" placeholder="Enter Part #"> 
					<button class="action go"><i class="icon icon-pre-arrow-large"></i> GO</button>
				</div>
				<span class="error-field hide" id="error-part-number">Part Number is a required field</span>
			</div>
			<h3><strong>Need Help Ordering Parts?</strong></h3>
			<p>Conditional space for content.</p>
			<p>
				<a href="tel:1-800-269-6215" rel="nofollow" class="action call-help"><i class="icon icon-phone"></i> Call 1-800-269-6215</a>
			</p>
			<p class="hours">
				<strong>Mon - Fri 8AM - 8PM EST<br />
				Sat 9AM - 5PM EST<br/>
				Sun 9AM - 3PM EST</strong>
			</p>
		</form>	
	</div>
</div>