<% content_for :footer_js do %>
<!-- open/close -->
<div class="overlay overlay-scale">
  <button class="action grey overlay-close">Close Map</button>
  <div id="stores-map"></div>
</div>
<script type="application/json" id="data-locations">
<%= StoreLocator::to_json(@stores) %>
</script>
<script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Gmjtd%7Cluua2hubnl%2Cbn%3Do5-lz8l5"></script>
<script src="/wcsstore/CubCadetMobile/javascript/storelocator.js"></script>
<script type="text/html" id="infowindow-rollover-template">
<h3 class="name"></h3>
click marker for more info
</script>
<% end %>
<div id="main" role="main" class="where-to-buy">
  <div class="callout" id="map-container">
    <h1>Where to Buy</h1>

    <form action="/find-store/results" method="get" class="find-store-form" novalidate>
      <input type="hidden" name="latitude" id="latitude" value="">
      <input type="hidden" name="longitude" id="longitude" value="">
      <div class="form-unit">
        <div class="form-input">
          <strong><%= @stores.length %> locations</strong> <label for="radius">within</label> 
          <select name="radius" class="radius validate-submit-only" id="radius">
            <option value="5"<%= !params['radius'].nil? && params['radius'] == '5' ? ' selected' : '' %>>5</option>                       
            <option value="10"<%= !params['radius'].nil? && params['radius'] == '10' ? ' selected' : '' %>>10</option>                       
            <option value="30"<%= params['radius'].nil? || params['radius'] == '30' ? ' selected' : '' %>>30</option>
            <option value="60"<%= !params['radius'].nil? && params['radius'] == '60' ? ' selected' : '' %>>60</option>                       
            <option value="90"<%= !params['radius'].nil? && params['radius'] == '90' ? ' selected' : '' %>>90</option>                       
            <option value="200"<%= !params['radius'].nil? && params['radius'] == '200' ? ' selected' : '' %>>200</option>                                   
          </select> 
          miles 
          <label for="zip" class="zip">of</label> 
          <input type="tel" class="zip<%= !params[:location].nil? && params[:location] == "1" ? ' inactive' : '' %>" value="<%= @default_zip %>" name="zip" id="zip" pattern="\d{5}" required>
        </div>
      </div> 
      <div class="form-unit">
        <div class="form-checkbox-location<%= !params[:location].nil? && params[:location] == "1" ? ' location-found' : '' %>">
          <div class="form-input">
            <span class="checkbox-wrap">
              <input type="checkbox" name="location" class="geolocate" id="location" value="1"<%= !params[:location].nil? && params[:location] == "1" ? ' checked' : '' %> /> 
              <label class="inline-label"><%= !params[:location].nil? && params[:location] == "1" ? 'Current location' : 'Use current location instead' %></label>
            </span>
            <div class="loader-wrap">
              <span class="loader hide">
                <img src="/wcpics/CubCadetMobile/en_US/images/loader-grey-2x.gif" alt="Loading ..." />
              </span>
            </div>
          </div>
        </div>
      </div>
      <p>
        <button class="action update-locations" type="submit"><i class="icon icon-pre-arrow-large"></i> Update Locations</button>
      </p>
    </form><!-- .find-store-form -->

    <div class="filter-container">
      <h2>Filter by Category: <a href="#" data-toggle-visible="#map-filters" id="toggle-map-filters" data-toggle-class="expanded" class="toggle">Categories</a></h2>
      <form action="" method="get" class="filters hide" id="map-filters">
        <ul>
          <% @categories.each do |c| %>
          <li class="filter">
            <label for="filter-category-<%= c["id"] %>"><input type="checkbox" name="category_<%= c["id"] %>" data-filter-categories="<%= c["id"] %>" id="filter-category-<%= c["id"] %>"> <%= c["name"] %></label>
          </li>
          <% end %>
        </li>
      </form>
    </div><!-- .filter-container -->

    <ol class="stores" id="stores-list">

      <% @stores.each_with_index do |s, i| %>
      <li class="store group<%= s.independent ? ' independent' : '' %>" data-categories="<%= s.categories %>" id="<%= s.id %>">
        <h3>
          <a href="<%= s.website %>" title="<%= s.name %>">
            <strong><%= s.name %></strong>
            <% if s.independent && s.website %>
              - <span class="dealer-link-cta">View Dealer Website</span>
            <% end %>
          </a>
        </h3>
        <div class="left col">
          <a data-address-link="<%= s.street %>+<%= s.city %>+<%= s.state %>+<%= s.zip %>" href="http://maps.google.com/maps?q=<%= s.street %>+<%= s.city %>+<%= s.state %>+<%= s.zip %>">
            <%= s.street %><br />
            <%= s.city %>, <%= s.state %> <%= s.zip %><br />
          </a>
        </div>
        <div class="right col">
          <% if s.limited %>
          <em class="limited">Limited Product Offering</em>
          <% end %>
          <span class="distance"><strong><%= s.distance %></strong> miles</span>
          <a href="tel:<%= s.phone %>" class="phone"><%= s.phone %></a>
        </div>
      </li>
      <% end %>

    </ol><!-- #stores-list -->

    <p class="open-map">
      <a href="#stores-map" title="Checkout" id="trigger-overlay" class="action grey">Map View</a>
    </p><!-- .open-map -->

    <div class="inline-video">
      <a href="http://youtu.be/4xysFyLgd-4" title="How to Assemble Tire Chains on your Cub Cadet Riding Mower" class="video-link">
        <img src="/wcpics/CubCadetMobile/en_US/images/content/video-tmb.jpg">
        Advantages of Working With an Independent Dealer
      </a>
    </div>

  </div>    
  <div class="offers">
    <a href="/promotion" class="offer">
      <img data-img="/wcpics/CubCadetMobile/en_US/images/content/espot-1.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/espot-1-2x.png" class="lazy-load">
      <noscript>
        <img src="/wcpics/CubCadetMobile/en_US/images/content/espot-1.png">
      </noscript>
    </a>
  </div>
</div>