<div id="main" role="main" class="part-detail">
	<div class="white-frame">
		<div class="table">
			<div class="row">	
				<div class="cell product-name">
					<h1><%= @product['name']%></h1>
					<h2><%= @product['item']%></h2>
				</div>
				<div class="cell">
					<p class="price-info">
						<% if (@product['reg_price'] != @product['sale_price']) %>
						<span class="price-one"><del><strong>$<%= sprintf("%0.2f",@product['reg_price']) %></strong></del></span>
						<% end %>										
						<span class="price-two"><strong>$<%= sprintf("%0.2f",@product['sale_price']) %></strong></span>
						<span class="free-shipping">*Free Shipping</span>
					</p>
				</div>
			</div>
		</div>
		<div class="product-image">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/<%= @product['photo_detail'] %>" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/<%= @product['photo_detail_hd'] %>" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/<%= @product['photo_detail'] %>">
			</noscript>
		</div>
		<div class="product-status">
			Back Ordered: Available 12/01/12
		</div>
		<form action="/cart" method="post" class="form-cart-add validate" novalidate>
			<div class="table">
				<div class="row">
					<div class="cell first">
						<input type="hidden" name="product_id" value="<%= @id %>" >
						<input type="hidden" name="product_price" value="<%= @product['sale_price'] %>" >	
						<input type="hidden" name="product_color" id="product-color" required  data-valid="error-product-color" value="">
						<div class="form-unit color-selector">
							<select id="color-select" class="seed-input" data-seed-input="#product-color">
								<option value="" data-color-image="/wcpics/CubCadetMobile/en_US/images/no-color.png">Select Color</option>
								<option value="red" data-color-image="/wcpics/CubCadetMobile/en_US/images/medium-grey.png">Medium Grey</option>
								<option value="green" data-color-image="/wcpics/CubCadetMobile/en_US/images/green.png">Green</option>
								<option value="yellow" data-color-image="/wcpics/CubCadetMobile/en_US/images/yellow.png">Yellow</option>
							</select> 
							<span class="color-indicator"><img src="/wcpics/CubCadetMobile/en_US/images/no-color.png" alt="color preview" /></span>
							<span class="error-field hide" id="error-product-color">Color is a required field</span>
						</div>
					</div>
					<div class="cell submit">
						<button type="submit" class="action large add-to-cart"><i class="icon icon-pre-arrow-large"></i> Add to Cart</button>
					</div>		
				</div>	
				<div class="row">	
					<div class="form-unit cell quantity first">
						<select name="product_quantity" id="product-quantity">
						<% 10.times do |i| %>
							<option value="<%= i + 1 %>">Quantity <%= i + 1 %></option>
						<% end %>
						</select>
					</div>	
					<div class="cell"></div>	
				</div>
			</div>
		</form>	
		<p>
			Fits 42" and 46" RZT mowers 2011 and after.<br />
			Contains: Two bags, chute, hood, hardware, counter
			weight chute elbow and installation instructions.
		</p>	
		<p>Need Help?</p>
		<p class="aligncenter need-help">	
			<a href="tel:1-800-269-6215" rel="nofollow" class="action need-help large"><i class="icon icon-phone"></i> Call 1-800-269-6215</a>
		</p>
		<p class="hours">
			<strong>Mon - Fri 8AM - 8PM EST<br />
			Sat 9AM - 5PM EST<br/>
			Sun 9AM - 3PM EST</strong>
		</p>
	</div>	
</div>