<div id="main" role="main" class="view-full-site">
	<div class="callout">
		<h1>Continue to Full Site?</h1>
		<p>You can always switch back to the Mobile Site once on the full site.</p>
		<p>Simply look for the "View Mobile" link in the footer area, at the bottom of the page.</p>
		<a class="action" href="/" id="full-go"><i class="icon icon-pre-arrow-large"></i> Go to full site now</a> 
	</div>
</div>
