<div id="main" role="main">
	<div id="slider">
		<ul>
		  <li style="display:block;position:relative;">
				<a href="javascript:alert('Link not implemented yet');" title="Z-Force S Zero Turn Riders">
					<span class="img-wrap">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/hero-placeholder.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/hero-placeholder-2x.jpg" class="slider-img">
					</span>
				</a>
			</li>
			<li style="display:block;position:relative;">
				<a href="javascript:alert('Link not implemented yet');" title="Z-Force S Zero Turn Riders">
					<span class="img-wrap">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/hero-placeholder.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/hero-placeholder-2x.jpg" class="slider-img">
					</span>
				</a>
			</li>
			<li style="display:block;position:relative;">
				<a href="javascript:alert('Link not implemented yet');" title="Z-Force S Zero Turn Riders">
					<span class="img-wrap">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/hero-placeholder.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/hero-placeholder-2x.jpg" class="slider-img">
					</span>
				</a>
			</li> 
		</ul>
	</div>
	<nav id="slider-nav">
		<ul>
			<li id="slider-pos">
				<span id="slider-bullets"></span>
			</li>
		</ul>
	</nav>
	<nav class="drill-down">
		<ul class="expandable">
			<li class="collapsed" id="find-products">
				<a href="#find-products" title="Find A Product" class="expand">Find A Product <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<ul class="level-two nav-with-pic products">
						<li>
							<a href="/products/lawn-garden">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden.png">
									</noscript>
								</div>
								Lawn &amp; Garden Tractors <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/riding-mowers">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/riding.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/riding-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/riding.png">
									</noscript>
								</div>
								Zero Turn Riding Mowers <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/walk-behind">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/walk-behind.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/walk-behind-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/walk-behind.png">
									</noscript>
								</div>
								Walk Behind Mowers <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/handheld">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/handheld.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/handheld-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/handheld.png">
									</noscript>
								</div>
								Handheld &amp; Cleanup <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/snow-throwers">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/snow-throwers.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/snow-throwers-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/snow-throwers.png">
									</noscript>
								</div>
								Snow Throwers <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/products/utility-vehicles">
								<div class="img-cell">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/utility-vehicles.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/utility-vehicles-2x.png" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/utility-vehicles.png">
									</noscript>
								</div>
								Utility Vehicles <i class="icon icon-arrow-r"></i>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="/find-store/results" title="Where to Buy">Where to Buy <i class="icon icon-arrow-r"></i></a>
			</li>
			<li><a href="/finance" title="Financing">Financing <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/find-service-center" title="Authorized Service Locations">Authorized Service Locations <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/find-parts" title="Find Genuine Parts">Find Genuine Parts <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/owners" title="Owner’s Center">Owner's Center <i class="icon icon-arrow-r"></i></a></li>
		</ul>
	</nav>
	<div class="offers">
		<a href="/promotion" class="offer">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/espot-1.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/espot-1-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/espot-1.png">
			</noscript>
		</a>
		<a href="/promotion" class="offer">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/espot-2.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/espot-2-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/espot-2.png">
			</noscript>
		</a>
	</div>
</div>
