<div id="main" role="main" class="knowledge-center">
	<div class="white-frame">
		<h1 class="page-title"><%= @category["name"] %></h1>
		<ul class="doc-list">
			<li>
				<a href="/knowledge-center/<%= params[:category] %>/article-table"><i class="pictos icon-doc"></i>Chipper Shredder Maintenance Schedule and Tips</a>
			</li>
			<li>
				<a href="/knowledge-center/<%= params[:category] %>/article-table"><i class="pictos icon-doc"></i>Garden Tiller Maintenance Schedule and Tips</a>
			</li>
			<li>
				<a href="/knowledge-center/<%= params[:category] %>/article-step-by-step"><i class="pictos icon-movie"></i>How to Assemble Tire Chains on Your Cub Cadet Riding Mower</a>
			</li>
			<li>
				<a href="/knowledge-center/<%= params[:category] %>/article"><i class="pictos icon-movie"></i>How to Change the Air Filter on a Cub Cadet Rider</a>
			</li>
			<li>
				<a href="/knowledge-center/<%= params[:category] %>/video-step-by-step"><i class="pictos icon-movie"></i>How to Change the Air Filter on a Cub Cadet Zero-Turn Rider</a>
			</li>
		</ul>
	</div>
</div>