<div id="main" role="main" class="knowledge-center">
	<div class="white-frame">
		<h1 class="article-title">How to Assemble Tire Chains on your Cub Cadet Riding Mower</h1>
		<div class="inline-video">
			<a href="http://youtu.be/4xysFyLgd-4" title="How to Assemble Tire Chains on your Cub Cadet Riding Mower">
				<img src="http://img.youtube.com/vi/4xysFyLgd-4/0.jpg">
				<span class="video-overlay">&nbsp;</span>
			</a>
		</div>
		<p>
			This video will show how to assemble tire chains on your Cub Cadet riding mower. Depending on your model, the instructions in this video may vary slightly. Always be sure to check your operator's manual for detailed instructions.
		</p>
		<h2 class="instructions">Instructions</h2>
		<div class="steps table">
			<div class="row">
				<h3 class="cell">Step 1</h3>
				<div class="cell">
			    	<p>
						In this video, we will be referencing side chains, cross chains, C-hook, and locking link.
					</p>
				</div>
			</div>	
			<div class="row">
				<h3 class="cell">Step 2</h3>
				<div class="cell">
			    	<p>
						Be sure the rider is on a flat, level surface. Disconnect the red battery cable and the spark plug ignition wire.
					</p>
				</div>
			</div>	
			<div class="row">
				<h3 class="cell">Step 3</h3>
			  	<div class="cell">
					<p>
						Lay the chain flat on the ground with the open sides of the cross chain hooks facing up. The C-hook should be on the inside edge of the tire. Be sure there are not twists in the chain.
					</p>
				</div>
			</div>
			<div class="row">
				<h3 class="cell">Step 4</h3>
			  	<div class="cell">
					<p>
						Hold the middle of the side chains then lay the chain over the tire.  Be sure that the open ends of the cross chain hooks are facing away from the tire.
					</p>
				</div>
			</div>
			<div class="row">
				<h3 class="cell">Step 5</h3>
			  	<div class="cell">
					<p>
						Tuck the loose ends of the chain under the tire, move the mower forward slightly so you can work with the hooks on the ends of the chain.
					</p>
				</div>
			</div>
		</div>
		<a href="#" class="back-to-top action dark-grey"><i class="icon icon-up"></i> Top</a>
		<a href="javascript:alert('Link Not Implemented');" title="Share" class="action share"><i class="icon icon-pre-arrow-large"></i> Share</a>
	</div>
</div>