<div id="main" role="main" class="knowledge-center">
	<div class="white-frame">
		<h1 class="article-title">Chipper Shredder Maintenance Schedule and Tips</h1>
		<ul>
			<li>
				Check bolts and screws for proper tightness at frequent intervals to keep the machine in safe working condition. Replace if necessary.
			</li>
			<li>
				Before cleaning, repairing or inspecting, stop the engine and make certain the impeller and all moving parts have stopped. Disconnect the spark plug wire and ground it against the engine to prevent unintended starting.
			</li>
			<li>
				Maintain or replace safety and instruction labels, as necessary.
			</li>
			<li>
				 If the flail screen becomes clogged, remove and clean. Cleaning with forceful spray is not recommended as it could contaminate the fuel system.
			</li>
		</ul>
		<a href="#" class="back-to-top action dark-grey"><i class="icon icon-up"></i> Top</a>
		<a href="javascript:alert('Link Not Implemented');" title="Share" class="action share"><i class="icon icon-pre-arrow-large"></i> Share</a>
	</div>
</div>