<div id="main" role="main" class="knowledge-center">
	<div class="white-frame">
		<h1 class="article-title">How to Prepare Your Snow Thrower for Winter Use</h1>
		<h2 class="instructions">Instructions</h2>
		<div class="steps table">
			<div class="row">
				<h3 class="cell">Step 1</h3>
				<div class="cell">
					<p>
						 Change the oil on your snow thrower.
					</p>
				</div>
			</div>
			<div class="row">
				<h3 class="cell">Step 2</h3>
				<div class="cell">
					<p>
						 Install a new spark plug if necessary.
					</p>
				</div>
			</div>
			<div class="row">
				<h3 class="cell">Step 3</h3>
				<div class="cell">
					<p>
						Inspect belts for wear. Replace them if necessary.
					</p>
				</div>
			</div>
			<div class="row">
				<h3 class="cell">Step 4</h3>
				<div class="cell">
					<p>
						 Drain the gas tank and replace with fresh fuel.
					</p>
				</div>
			</div>
			<div class="row">
				<h3 class="cell">Step 5</h3>
				<div class="cell">
					<p>
						Lubricate the drive and chassis.
					</p>
				</div>
			</div>
		</div>
		<a href="#" class="back-to-top action dark-grey"><i class="icon icon-up"></i> Top</a>
		<a href="javascript:alert('Link Not Implemented');" title="Share" class="action share"><i class="icon icon-pre-arrow-large"></i> Share</a>
	</div>
</div>