<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Cub Cadet Mobile</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="cleartype" content="on">
	<meta name="format-detection" content="telephone=no">
	<script>
/* Modernizr 2.5.3 (Custom Build) | MIT & BSD
 * Build: http://www.modernizr.com/download/#-fontface-cssanimations-generatedcontent-csstransforms-csstransforms3d-csstransitions-history-indexeddb-localstorage-geolocation-touch-cssclasses-teststyles-testprop-testallprops-prefixes-domprefixes
 */
;window.Modernizr=function(a,b,c){function A(a){j.cssText=a}function B(a,b){return A(n.join(a+";")+(b||""))}function C(a,b){return typeof a===b}function D(a,b){return!!~(""+a).indexOf(b)}function E(a,b){for(var d in a)if(j[a[d]]!==c)return b=="pfx"?a[d]:!0;return!1}function F(a,b,d){for(var e in a){var f=b[a[e]];if(f!==c)return d===!1?a[e]:C(f,"function")?f.bind(d||b):f}return!1}function G(a,b,c){var d=a.charAt(0).toUpperCase()+a.substr(1),e=(a+" "+p.join(d+" ")+d).split(" ");return C(b,"string")||C(b,"undefined")?E(e,b):(e=(a+" "+q.join(d+" ")+d).split(" "),F(e,b,c))}var d="2.5.3",e={},f=!0,g=b.documentElement,h="modernizr",i=b.createElement(h),j=i.style,k,l=":)",m={}.toString,n=" -webkit- -moz- -o- -ms- ".split(" "),o="Webkit Moz O ms",p=o.split(" "),q=o.toLowerCase().split(" "),r={},s={},t={},u=[],v=u.slice,w,x=function(a,c,d,e){var f,i,j,k=b.createElement("div"),l=b.body,m=l?l:b.createElement("body");if(parseInt(d,10))while(d--)j=b.createElement("div"),j.id=e?e[d]:h+(d+1),k.appendChild(j);return f=["&#173;","<style>",a,"</style>"].join(""),k.id=h,m.innerHTML+=f,m.appendChild(k),l||(m.style.background="",g.appendChild(m)),i=c(k,a),l?k.parentNode.removeChild(k):m.parentNode.removeChild(m),!!i},y={}.hasOwnProperty,z;!C(y,"undefined")&&!C(y.call,"undefined")?z=function(a,b){return y.call(a,b)}:z=function(a,b){return b in a&&C(a.constructor.prototype[b],"undefined")},Function.prototype.bind||(Function.prototype.bind=function(b){var c=this;if(typeof c!="function")throw new TypeError;var d=v.call(arguments,1),e=function(){if(this instanceof e){var a=function(){};a.prototype=c.prototype;var f=new a,g=c.apply(f,d.concat(v.call(arguments)));return Object(g)===g?g:f}return c.apply(b,d.concat(v.call(arguments)))};return e});var H=function(c,d){var f=c.join(""),g=d.length;x(f,function(c,d){var f=b.styleSheets[b.styleSheets.length-1],h=f?f.cssRules&&f.cssRules[0]?f.cssRules[0].cssText:f.cssText||"":"",i=c.childNodes,j={};while(g--)j[i[g].id]=i[g];e.touch="ontouchstart"in a||a.DocumentTouch&&b instanceof DocumentTouch||(j.touch&&j.touch.offsetTop)===9,e.csstransforms3d=(j.csstransforms3d&&j.csstransforms3d.offsetLeft)===9&&j.csstransforms3d.offsetHeight===3,e.generatedcontent=(j.generatedcontent&&j.generatedcontent.offsetHeight)>=1,e.fontface=/src/i.test(h)&&h.indexOf(d.split(" ")[0])===0},g,d)}(['@font-face {font-family:"font";src:url("https://")}',["@media (",n.join("touch-enabled),("),h,")","{#touch{top:9px;position:absolute}}"].join(""),["@media (",n.join("transform-3d),("),h,")","{#csstransforms3d{left:9px;position:absolute;height:3px;}}"].join(""),['#generatedcontent:after{content:"',l,'";visibility:hidden}'].join("")],["fontface","touch","csstransforms3d","generatedcontent"]);r.touch=function(){return e.touch},r.geolocation=function(){return!!navigator.geolocation},r.indexedDB=function(){return!!G("indexedDB",a)},r.history=function(){return!!a.history&&!!history.pushState},r.cssanimations=function(){return G("animationName")},r.csstransforms=function(){return!!G("transform")},r.csstransforms3d=function(){var a=!!G("perspective");return a&&"webkitPerspective"in g.style&&(a=e.csstransforms3d),a},r.csstransitions=function(){return G("transition")},r.fontface=function(){return e.fontface},r.generatedcontent=function(){return e.generatedcontent},r.localstorage=function(){try{return localStorage.setItem(h,h),localStorage.removeItem(h),!0}catch(a){return!1}};for(var I in r)z(r,I)&&(w=I.toLowerCase(),e[w]=r[I](),u.push((e[w]?"":"no-")+w));return A(""),i=k=null,e._version=d,e._prefixes=n,e._domPrefixes=q,e._cssomPrefixes=p,e.testProp=function(a){return E([a])},e.testAllProps=G,e.testStyles=x,g.className=g.className.replace(/(^|\s)no-js(\s|$)/,"$1$2")+(f?" js "+u.join(" "):""),e}(this,this.document);
	</script>
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/wcpics/CubCadetMobile/en_US/images/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/wcpics/CubCadetMobile/en_US/images/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/wcpics/CubCadetMobile/en_US/images/apple-touch-icon-precomposed.png">	
	<link rel="shortcut icon" href="/wcpics/CubCadetMobile/en_US/images/apple-touch-icon.png" />
	<% if (@serve_minified) %>
	<link rel="stylesheet" href="/wcsstore/CubCadetMobile/style.min.css?v=02262014">
	<% else %>	
	<link rel="stylesheet" href="/wcsstore/CubCadetMobile/css/style.css">
	<% end %>
</head>
<body class="<%=@page%>" id="<%=@page%>">
<div id="container">
	<header id="main-header">
		<div class="header-wrap">
			<nav class="nav-bar">
				<ul class="group">
					<li class="logo col">
						<h1><a href="/" id="logo" title="Cub Cadet">Cub Cadet</a></h1>
					</li>
					<li class="home-menu col">
						<a href="/" id="btn-home" class="btn"><i class="icon icon-home"></i></a>
					</li>
					<li class="cart-menu col">
						<a href="/cart" id="btn-cart" class="btn">
							<span class="cart-wrap">
							<i id="cart-icon" class="icon <% if @cart_items == 0 %> empty<% end %>"></i>
							<% if @cart_items != 0 %>
							<span class="cart-items"><%=@cart_items%></span>
							<% end %>
							</span>
						</a>
					</li>
				</ul>
			</nav>
			<div id="search-wrap" class="closed">
				<form id="search" method="get" action="/search">
					<input type="text" name="q" id="search-field" />
					<span class="btn-search"><span class="divide"></span><i class="icon icon-search"></i></span>
				</form>
			</div>
		</div>
	</header>	
	<%= yield %>				
	<footer>
		<div class="footer-wrap">
			<div id="footer-search-wrap">
				<form id="footer-search" method="get" action="/search">
					<input type="text" name="q" placeholder="SEARCH" />
					<button type="submit" class="btn-search"><span class="divide"></span><i class="icon icon-search"></i></button>
				</form>
			</div>
			<div class="footer-actions">				
				<nav class="footer-nav">
					<a href="/">Home</a>
					<a href="/finance">Financing</a>
					<a href="/privacy">Privacy Policy</a>
					<a href="/contact">Contact Us</a>
					<a href="/privacy" class="nav-legal">Legal</a>
					<a href="/privacy">Product Disclaimer</a>
				</nav>			
			</div>	
			<div class="table footer-actions">
				<div class="row">
					<div class="customer-service cell">
						<a href="tel:18774282349"><i class="icon icon-phone"></i>Customer Service</a>
					</div>
					<div class="social-media cell">
						<nav>
							<a href="javascript:alert('Link not implemented yet');" class="youtube">YouTube</a> 
							<a href="javascript:alert('Link not implemented yet');" class="facebook">Facebook</a>
							<a href="javascript:alert('Link not implemented yet');" class="twitter">Twitter</a>
						</nav>
					</div>	
				</div>
			</div>	
			<div class="order-tracking">
				<a href="/orders"><i class="icon icon-pre-arrow"></i>Order Tracking</a>
			</div>
			<div class="table footer-actions">
				<div class="row">
					<div class="full-site cell">
						<a href="/full-site" title="View Full Site"><i class="icon icon-pre-arrow"></i>View Full Site</a>
					</div>
					<div class="sign-in-action cell">
						<% if !logged_in? %>
						<a href="/login" class="action sign-in"><i class="icon icon-pre-arrow-large"></i> Sign In</a>
						<% else %>
						<a href="/logout" class="action sign-in"><i class="icon icon-pre-arrow-large"></i> Sign Out</a>
						<% end %>
					</div>	
				</div>
			</div>
			<p class="credits">
				Cub Cadet is a registered trademark.
			</p>
		</div>	
	</footer>
</div>
<%=erb :inline_swipe_js %>
<% if !@force_jquery.nil? && @force_jquery %>
<script>
document.write('<script src=/wcsstore/CubCadetMobile/javascript/libs/jquery-1.7.2.min.js><\/script>');
</script>
<% else %>
<script>
document.write('<script src=' +
('__proto__' in {} ? '/wcsstore/CubCadetMobile/javascript/libs/zepto.min' : '/wcsstore/CubCadetMobile/javascript/libs/jquery-1.7.2.min') +
'.js><\/script>')
</script>
<% end %>
<% if (@serve_minified) %>
<script src="/wcsstore/CubCadetMobile/cubcadetmobile.min.js?v=02262014"></script>
<% else %>	
<script src="/wcsstore/CubCadetMobile/javascript/cubcadetmobile.js"></script>
<% end %>
<%= yield_content :footer_js %>

<script>
/*! A fix for the iOS orientationchange zoom bug. Script by @scottjehl, rebound by @wilto.MIT License.*/(function(m){if(!(/iPhone|iPad|iPod/.test(navigator.platform)&&navigator.userAgent.indexOf("AppleWebKit")>-1)){return}var l=m.document;if(!l.querySelector){return}var n=l.querySelector("meta[name=viewport]"),a=n&&n.getAttribute("content"),k=a+",maximum-scale=1",d=a+",maximum-scale=10",g=true,j,i,h,c;if(!n){return}function f(){n.setAttribute("content",d);g=true}function b(){n.setAttribute("content",k);g=false}function e(o){c=o.accelerationIncludingGravity;j=Math.abs(c.x);i=Math.abs(c.y);h=Math.abs(c.z);if(!m.orientation&&(j>7||((h>6&&i<8||h<8&&i>6)&&j>5))){if(g){b()}}else{if(!g){f()}}}m.addEventListener("orientationchange",f,false);m.addEventListener("devicemotion",e,false)})(this);

/*! Normalized address bar hiding for iOS & Android (c) @scottjehl MIT License */
(function(win){var doc=win.document;if(!location.hash&&win.addEventListener){window.scrollTo(0,1);var scrollTop=1,getScrollTop=function(){return win.pageYOffset||doc.compatMode==="CSS1Compat"&&doc.documentElement.scrollTop||doc.body.scrollTop||0},bodycheck=setInterval(function(){if(doc.body){clearInterval(bodycheck);scrollTop=getScrollTop();win.scrollTo(0,scrollTop===1?0:1)}},15);win.addEventListener("load",function(){setTimeout(function(){if(getScrollTop()<20){win.scrollTo(0,scrollTop===1?0:1)}},0)})}})(this);
</script>
</body>
</html>		