<div id="main" role="main" class="locate-model">	
	<div class="white-frame">
		<h1>Locate Model and Serial Number</h1>    
		<p>Knowing your outdoor power equipments' model number and serial number will ensure that you find the correct Cub Cadet Genuine Factory replacement part number for your equipment.</p>
		<h2>What should my model and serial number look like?</h2>
		<p>Cub Cadet's current (1997 and later) model and serial numbers are generally 11 characters in length. A character could be a number, dash or a letter.</p>
		<h3>Identification Tag Example</h3>
		<p>
			<span class="img-wrap">
				<img data-img="/wcpics/CubCadetMobile/en_US/images/serial-number-large.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/serial-number-large-2x.jpg" class="lazy-load">
				<noscript>
					<img src="/wcpics/CubCadetMobile/en_US/images/serial-number-large.jpg">
				</noscript>
			</span>
		</p>
		<h3>Model Number Prefixes</h3>
		<p>NOTE: When using the model number prefixes chart, "a prefix" consists of the first two digits of a model number.</p>
		<div class="model-prefixes">
			<table cellspacing="0">			        	
				<thead>			            	
					<tr>			              		
						<th class="model-product-heading">Product</th>			              		
						<th class="model-prefix-heading">Prefix</th>			            	
					</tr>	
				</thead>
				<tbody>		            	
					<tr>			              		
						<td>walk-behind push mower</td>			              		
						<td>11</td>			            	
					</tr>				            
					<tr>				              	
						<td>walk-behind self-propelled mower</td>				              	
						<td>12</td>				            
					</tr>				            
					<tr>				              	
						<td>riding lawn tractor</td>				              	
						<td>13</td>				            
					</tr>				            
					<tr>				              	
						<td>riding garden tractor</td>				              	
						<td>14</td>				            
					</tr>				            
					<tr>				              	
						<td>zero turn rider</td>				              	
						<td>17</td>				            
					</tr>				            
					<tr>				              	
						<td>electric walk-behind mower</td>				              	
						<td>18</td>				            
					</tr>				            
					<tr>				              	
						<td>garden tiller</td>				              	
						<td>21</td>				            
					</tr>				            
					<tr>				              	
						<td>chipper/blower-vac/log splitter</td>				              	
						<td>24</td>				            
					</tr>				            
					<tr>				              	
						<td>edger/trimmer mower</td>				              	
						<td>25</td>				            
					</tr>				            
					<tr>				              	
						<td>snow thrower</td>				              	
						<td>31</td>				            
					</tr>				            
					<tr>				              	
						<td>hand held products (string trimmer, chain saw etc..)</td>				              	
						<td>41 or 42</td>				            
					</tr>				            
				</tbody>
			</table>
			<table cellspacing="0">
				<thead>				            
					<tr>		              		
						<th class="model-product-heading">Attachments</th>			              		
						<th class="model-prefix-heading">Prefix</th>			 		            
					</tr>	
				</thead>	
				<tbody>		            
					<tr>				              	
						<td>mower</td>				              	
						<td>19</td>				            
					</tr>				            
					<tr>				              	
						<td>chore performer</td>				              	
						<td>29</td>				            
					</tr>				            
					<tr>				              	
						<td>utility vehicle</td>				              	
						<td>39</td>				            
					</tr>				            
					<tr>				              	
						<td>rider</td>				              	
						<td>590</td>				            
					</tr>			          	
				</tbody>			        
			</table>	
		</div>
		<h2>Where do I find the model and serial number tag on my equipment, and what does it look like?</h2>
		<p>Identification tags are located in areas unlikely to need replacement, even after years of use.</p>
		<p>For most of our <strong>power equipment</strong>, these tags are approximately 2" x 3" in size. They also have the Cub Cadet Product's name, address and customer service phone number listed across the bottom.</p>	    	
		<p>For <strong>handheld</strong> equipment, the tag is usually white and approximately 1" x 1/2" in size. Handheld ID tags are normally on an aluminum portion of the engine, somewhat set into the unit to protect the label from wear. (A bar code will also be on this tag.)</p>
		<p><strong>Riding mower</strong> tags are located on the underside of the seat.</p>	    	
		<p>For <strong>walk-behind mowers</strong> this tag is found either on the deck or on the rear door of rear discharge units.</p>	    	
		<p><strong>Tiller</strong> model and serial tags are generally on the tine housing.</p>	    	
		<p>The model and serial tags for <strong>two-stage snow throwers</strong> are located on the bottom of the main gear housing which is often called the belly pan, while <strong>single-stage snow thrower</strong> tags are next to the key and primer.</p>	    	
		<p>For other products like <strong>log splitters</strong>, <strong>chipper shredders</strong> and <strong>edgers</strong>, tags can be found on the frame or main housing.</p>
		<h2>How do I determine my product model number and/or serial number if the tag is missing or illegible?</h2>
		<p>If a product identification tag has been rendered illegible, or the numbers are not valid within our online support systems, it will be necessary to call in and speak directly with a Technical Support Agent for assistance in properly identifying these products.</p>		    
		<p><strong>Our Technical Support Department staff may be reached at 1-800-828-5500, M-F 8 a.m. - 5 p.m. EST and Sat 9 a.m. - 3 p.m. EST.</strong> The technicians there will ask you a number of questions while researching our historical manufacturing archives in an effort to determine the model number and manufacturing data of the product. This research can often be a daunting task and may even involve submission of photographs or measurement of particular parts that will identify a production series.</p>		    
		<p><strong>IMPORTANT! Due to the complex nature and need for direct conversation while researching historical data, this product identification process is not performed via the Internet.</strong></p>		    
		<p>Once the model number and manufacturing data are properly identified, we suggest that the number be kept in a safe place(s) for future use. Writing it down in the Operator's Manual is a good idea. So is writing it on the product with an indelible marker or engraving tool.</p>  
	</div>
</div>