<div id="main" role="main" class="find-manuals">
	<div class="callout">
		<h1>Operators Manuals</h1>
		<form action="/manuals/results" method="post" class="validate" novalidate>
			<p>
				Disclaimer: Not all manuals will be available for all products.
			</p>
			<h2>Know your model #?</h2>
			<div class="form-unit">
				<div class="form-input">
					<label for="model-number">Model Number</label>
					<input type="text" name="model_number" id="model-number" required placeholder="required" data-valid="error-model-number" value="">
				</div>
				<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="serial-number">Serial Number</label>
					<input type="text" name="serial_number" id="serial-number" placeholder="optional" value="">
				</div>
			</div>
			<p>
				<button class="action red find-manual" type="submit"><i class="icon icon-pre-arrow-large"></i> Find Your Manual</button>
			</p>
		</form>
		<h2 class="image-description">Don’t know your model #?</h2>
		<p class="serial-number">
			<span class="img-wrap">
				<img data-img="/wcpics/CubCadetMobile/en_US/images/serial-number.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/serial-number-2x.jpg" class="lazy-load">
				<noscript>
					<img src="/wcpics/CubCadetMobile/en_US/images/serial-number.jpg">
				</noscript>
			</span>
		</p>
		<p>
			<a href="/locate-model" class="action locate-model"><i class="icon icon-pre-arrow-large"></i> Locate Your Model #</a>
		</p>						
		<p>
			<strong>Business Hours:</strong><br />
			Mon - Fri 8AM - 6PM EST<br />
			Sat 9AM - 5PM EST
		</p>
		<a href="tel:1-800-828-5500" rel="nofollow" class="action call-help"><i class="icon icon-phone"></i> Need Help? Call 1-800-828-5500</a>
	</div>
	</div>	
</div>