<div id="main" role="main" class="manuals">
	<div class="white-frame">
		<h1>Operator's Manual Results</h1>
		<div class="disclaimer">
			<p>
				Note: Not all manuals will be available for all products.
			</p>
			<p>
				<strong>Mon - Fri 8AM - 8PM EST<br />
				Sat 9AM - 5PM EST<br/>
				Sun 9AM - 3PM EST</strong>
			</p>
			<p>Need Help?</p>
			<p>
				<a href="tel:1-800-269-6215" rel="nofollow" class="action call-help"><i class="icon icon-phone"></i> Call 1-800-269-6215</a>
			</p>	
		</div>
		<ul class="manual-results">
			<li>
				<h3><i class="icon icon-doc"></i> Model 41AB190C034</h3>
				<div class="manual">
					<p>
						<strong>Manual:</strong> RM193BVT:ELECT BLO-VAC<br />
						<strong>Form:</strong> 275935
					</p>
					<p class="button-set">
						<a href="/manuals/275935" class="action web-version"><i class="icon icon-pre-arrow-large"></i> Web version</a>
						<a href="/manuals/275935" class="action pdf-alt"><i class="icon icon-pre-arrow-large"></i> PDF</a>
					</p>
				</div>
				<div class="manual">
					<p>
						<strong>Manual:</strong> GDE:IPL:760/770 Series<br />
						<strong>Form:</strong> 769-01612
					</p>
					<p class="button-set">
						<a href="/manuals/769-01612" class="action web-version"><i class="icon icon-pre-arrow-large"></i> Web version</a>
						<a href="/manuals/769-01612" class="action pdf-alt"><i class="icon icon-pre-arrow-large"></i> PDF</a>
					</p>
				</div>
			</li>
			<li>
				<h3><i class="icon icon-doc"></i> Model 41AB190C034</h3>
				<div class="manual">
					<p>
						<strong>Manual:</strong> RM193BVT:ELECT BLO-VAC<br />
						<strong>Form:</strong> 275935
					</p>
					<p class="button-set">
						<a href="/manuals/275935" class="action web-version"><i class="icon icon-pre-arrow-large"></i> Web version</a>
						<a href="/manuals/275935" class="action pdf-alt"><i class="icon icon-pre-arrow-large"></i> PDF</a>
					</p>
				</div>
				<div class="manual">
					<p>
						<strong>Manual:</strong> GDE:IPL:760/770 Series<br />
						<strong>Form:</strong> 769-01612
					</p>
					<p class="button-set">
						<a href="/manuals/275935" class="action web-version"><i class="icon icon-pre-arrow-large"></i> Web version</a>
						<a href="/manuals/275935" class="action pdf-alt"><i class="icon icon-pre-arrow-large"></i> PDF</a>
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>