<div id="main" role="main" class="manual-disclaimer">
	<div class="white-frame">
		<h1>Operator's Manuals Results</h1>
		<h2>IMPORTANT INFORMATION - PLEASE READ CAREFULLY</h2>
		<p>
			The Operator's Manual is an important part of your new outdoor power equipment. It will help you assemble, prepare and maintain your machine. Your outdoor power equipment was built to be operated according to the rules and instructions for safe operation which are contained in the operator's manual and on the machine itself.
		</p>
		<p>
			Safety rules and instructions, if not followed, could endanger the personal safety and/or property of the operator and others. Read and follow all instructions in the manual before attempting to operate your outdoor power equipment. As with any type of power equipment, carelessness or error on the part of the operator can result in serious injury. Your machine is capable of amputating hands and feet and throwing objects. Failure to observe the safety rules and instructions could result in serious injury or death.
		</p>
		<p>
			IMPORTANT: MTD is concerned about the safety of its customers and others. Due to the size of the Operator's Manual, some are broken down into two or more segments so that they can be downloaded easily. In order to ensure that Important Safe Operation Practices are available, we are requiring all those who wish to download a copy of the Operator's Manual to acknowledge that they will download the portion that contains the Important Safe Operation Practices as stated below.
		</p>
		<p>
			<strong>NOTICE: BY CONTINUING I AFFIRM THAT I WILL DOWNLOAD THAT PORTION OF THE OPERATOR'S MANUAL WHICH CONTAINS SECTION 1: IMPORTANT SAFE OPERATION PRACTICES, AND THAT I WILL READ AND FOLLOW THE SAFETY RULES AND INSTRUCTIONS PROVIDED. </strong>
		</p>
		<p class="accept-decline">
			<a href="/manuals/results" class="action grey large"><i class="icon icon-pre-arrow-large"></i> I Decline</a> 
			<a href="javascript:alert('Link Not Implemented');" class="action large"><i class="icon icon-pre-arrow-large"></i> I Accept</a>
		</p>
	</div>
</div>	