<div id="main" role="main" class="view-order-details">
	<div class="white-frame">
		<div class="table">
			<div class="row">	
				<div class="cell">
					<h1>Order #<%= @active_order[:id] %> on <%= Time.parse(@active_order[:date]).strftime('%m/%d/%y') %></h1>
				</div>
				<div class="price-status cell">
					<p>
						$<%= @active_order[:total] %><br />
						Status: <%= @active_order[:status] %>
					</p>
				</div>
			</div>
		</div>
		<div class="shipping-information">
			<h2>Shipping Information</h2>
			<p>
				Jake Bazaar<br />
				1348 Iconic Lane<br />
				Cleveland. OH 44105<br />
				(777)444-5577<br />
				jake@bazaar.com
			</p>
		</div>
		<div class="billing-information">
			<h2>Billing Information</h2>
			<p>
				Jake Bazaar<br />
				1348 Iconic Lane<br />
				Cleveland. OH 44105<br />
				(777)444-5577<br />
				jake@bazaar.com
			</p>
		</div>
		<ul class="order-items">	
			<li>
				<div class="row">
					<div class="photo cell">
						<a href="/products/detail" title="Product Name">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/product-category.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/product-category-2x.jpg" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/product-category.jpg">
								</noscript>
							</span>
						</a>
					</div>
					<div class="data cell">
						<a href="/products/detail" title="All-Season Protection Universal Tractor Cover" class="title">All-Season Protection Universal Tractor Cover</a>
						<span class="item-num">Item #: 490-290-0013</span>
						<span class="item-qty">Quantity: 1</span>
						<span class="item-status">Status: Delivered</span>
					</div>
					<div class="pricing cell">
						<span class="price-one"><del><strong>$999.99</strong></del></span><br />
						<span class="price-two"><strong>$799.99</strong></span>
					</div>	
				</div>
			</li>
			<li>
				<div class="row">
					<div class="photo cell">
						<a href="/products/detail" title="Product Name">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/product-category2.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/product-category2-2x.jpg" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/product-category2.jpg">
								</noscript>
							</span>
						</a>
					</div>
					<div class="data cell">
						<a href="/products/detail" title="Universal BladeRemoval Tool" class="title">Universal BladeRemoval Tool</a>
						<span class="item-num">Item #: 490-850-0005</span>
						<span class="item-qty">Quantity: 1</span>
						<span class="item-status">Status: Delivered</span>
					</div>
					<div class="pricing cell">
						<span class="price-one"><del><strong>$15.99</strong></del></span><br />
						<span class="price-two"><strong>$9.99</strong></span>
					</div>	
				</div>
			</li>	
		</ul>	
		<div class="totals">
			<div class="totals-wrapper table">
				<div class="row">
					<div class="cell caption">Item Total:</div>
					<div class="cell value">$1015.98</div>
				</div>
				<div class="row">
					<div class="cell caption">Savings:</div>
					<div class="cell value">-$206.00</div>
				</div>	
				<div class="row">
					<div class="cell caption">Shipping:</div>
					<div class="cell value">$12.00</div>
				</div>
				<div class="row pre-subtotal">
					<div class="cell caption">Tax:</div>
					<div class="cell value">$0.00</div>
				</div>
				<div class="row subtotal">
					<div class="cell caption"><strong>Total:</strong></div>
					<div class="cell value"><strong>$821.98</strong></div>
				</div>
			</div>
		</div>
	</div>
</div>	