<div id="main" role="main" class="label-inline">
	<% if @page_error %>
	<div class="page-error">
		Your order search did not return any results. Please verify your information below and try again.
	</div>	
	<% end %>
	<div class="callout">
		<h1>Order Status</h1>
		<p>
			Please enter your order number, billing last name and billing zip code to find your order status.
		</p>
		<form action="/orders/details" method="get" class="form-order-tracking validate" name="form_order_status" novalidate>
			<div class="form-unit">
				<div class="form-input">
					<label for="billing-order-number">Order Number</label> 
					<input type="text" id="billing-order-number" name="order_number" required data-valid="error-billing-order-number">
				</div>
				<span class="error-field hide" id="error-billing-order-number">Order Number is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="billing-last-name">Billing Last Name</label> 
					<input type="text" id="billing-last-name" name="last_name" required data-valid="error-billing-last-name">
				</div>
				<span class="error-field hide" id="error-billing-last-name">Billing Last Name is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="billing-zip-code">Billing Zip Code</label> 
					<input type="tel" id="billing-zip-code" name="zip_code" required data-valid="error-billing-zip-code" pattern="[\d]{5}" maxlength="5">
				</div>
				<span class="error-field hide" id="error-billing-zip-code">Billing Zip Code is a required field</span>
			</div>
			<button type="submit" class="action large check-status"><i class="icon icon-pre-arrow-large"></i> Check Status</button>
		</form>
	</div>
</div>