<div id="main" role="main">
	<div class="callout">
		<h1>Order Details</h1>
		<form action="/orders/tracking" method="get" class="form-order-tracking validate" name="form_track_order" novalidate>
			<div class="table">
				<div class="row">	
					<div class="order-details-status cell">
						<h2>Order #<%= params[:order_number] %> on 3/5/2012</h2>
						<p>
							Shipped to:<br />
							Jake Bazaar<br />
							1348 Iconic Lane<br />
							Cleveland, OH 44105
						</p>
					</div>
					<div class="price-status cell">
						<p>
							$531.25<br />
							Status: Approved
						</p>
					</div>
				</div>
			</div>
			<p>
				<a href="/orders/view-details?order_number=<%= params[:order_number] %>" type="submit" class="action btn-view-order-details"><i class="icon icon-pre-arrow-large"></i> View Order Details</a>
				<input type="hidden" value="<%= params[:order_number] %>" name="order_number">
				<button type="submit" class="action btn-track-order"><i class="icon icon-pre-arrow-large"></i> Track Order</button> 
			</p>
		</form>
	</div>	
</div>	