<div id="main" role="main" class="owners">
	<div class="hero">
		<a href="javascript:alert('Link not implemented yet');">
			<h1>
				<span class="watch-video alignright"></span>
				<em>Get to Know Your Cub Cadet</em>
				LTX 1042 KW<br />
			</h1>
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/owners-hero.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/owners-hero-2x.jpg" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/owners-hero.jpg">
			</noscript>
		</a>
	</div>
	<nav id="slider-nav">
		<ul>
			<li id="slider-pos">
				<span id="slider-bullets"></span>
			</li>
		</ul>
	</nav>
	<nav class="drill-down">
		<ul class="expandable">
			<li class="collapsed" id="where-to-buy">
				<a href="#maintenance-tips-how-tos" title="Maintenance Tips &amp; How-to’s" class="expand">Maintenance Tips &amp; How-to’s <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<ul class="level-two nav-without-pic">
						<li>
							<a href="/knowledge-center/get-to-know">
								Get to Know Your Cub Cadet <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/knowledge-center/maintenance">
								Maintenance <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/knowledge-center/repairs">
								Repairs <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/knowledge-center/safety">
								Safety <i class="icon icon-arrow-r"></i>
							</a>
						</li>
						<li>
							<a href="/knowledge-center/tricks-tips">
								Tricks &amp; Tips <i class="icon icon-arrow-r"></i>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="collapsed" id="operators-manuals">
				<a href="#operators-manuals" title="Operator's Manuals" class="expand">Operator's Manuals <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<div class="form-block manuals">
						<form action="/manuals/results" method="get" class="validate" novalidate>
							<p>
								Note: Not all manuals will be available for all products.
							</p>
							<h2>Know your model #?</h2>
							<div class="form-unit">
								<div class="form-input">
									<label for="model-number">Enter Model #:</label>
									<input type="text" name="model_number" id="model-number" data-valid="error-model-number" value="" placeholder="required" required>
									<span class="field-help">Use partial or full model #</span>
								</div>
								<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
							</div>
							<div class="form-unit">
								<div class="form-input">
									<label for="serial-number">Enter Serial #:</label>
									<input type="text" name="serial_number" id="serial-number" value="" placeholder="optional">
								</div>
							</div>
							<p>
								<button class="action get-manual" type="submit"><i class="icon icon-pre-arrow-large"></i> Search All Manuals</button>
							</p>
						</form>
						<h2>Don’t know your model #?</h2>
						<p>
							<img src="/wcpics/CubCadetMobile/en_US/images/serial-number-large.jpg" alt="Serial Number Pic" />
						</p>
						<p>
							<a href="/locate-model" class="action grey locate-model">Locate Your Model #</a>
						</p>						
						<p>
							<strong>Mon - Fri 8AM - 8PM EST<br />
							Sat 9AM - 5PM EST<br/>
							Sun 9AM - 3PM EST</strong>
						</p>
						<p>Need Help?</p>
						<a href="tel:1-800-828-5500" rel="nofollow" class="action call-help"><i class="icon icon-phone pictos"></i> Call 1-800-828-5500</a>
					</div>	
				</div>
			</li>
			<li><a href="/service-centers" title="Authorized Service Locations">Authorized Service Locations <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/owners/register" title="Product Registration">Product Registration <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="javascript:alert('Link not implemented yet');" title="FAQs">FAQs <i class="icon icon-arrow-r"></i></a></li>
		</ul>
	</nav>
	<h3 class="indent">Available at:</h3>
	<ul class="authorized">
		<li class="ccad">
			<a href="/dealers">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/cub-auth.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/cub-auth-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/cub-auth.png">
					</noscript>
				</span>
			</a>
		</li>
		<li class="thd">
			<a href="/stores/home-depot">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/avail-hd.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/avail-hd-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/avail-hd.png">
					</noscript>
				</span>
			</a>
		</li>
		<li class="tsc">
			<a href="/stores/tractor-supply">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/avail-ts.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/avail-ts-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/avail-ts.png">
					</noscript>
				</span>
			</a>
		</li>		
	</ul>
	<nav class="drill-down">
		<ul class="expandable">
			<li><a href="/find-parts" title="Find Genuine Parts">Find Genuine Parts <i class="icon icon-arrow-r"></i></a></li>
		</ul>
	</nav>
</div>