<div id="main" role="main" class="privacy">
	<div class="white-frame">
		<h1>Cub Cadet Privacy Notice</h1>
		<h3>Our Commitment To Privacy</h3>
		<p>
			Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used.
		</p>
		<h3>The Information We Collect</h3>
		<p>
			This notice applies to all information collected or submitted on the Cub Cadet Website at www.MTDParts.com. We will not share personal information with others unless we have provided you with a chance to opt out. The types of personal information voluntarily submitted and collected on our Website are:
		</p>
	  <ul>
			<li><strong>Name</strong></li>
			<li><strong>Address</strong></li>
			<li><strong>Email address</strong></li>
			<li><strong>Phone number</strong></li>
			<li><strong>Credit/Debit Card Information</strong></li>
			<li><strong>Serial and model numbers</strong></li>
			<li><strong>Product registration</strong></li>
			<li><strong>Survey Information</strong> (This may include age, household description, lawn care/outdoor power product ownership/purchase information)</li>
		</ul>
		<p>
	On some pages, you can order products, make requests, register to receive mailings or emails about new products or upcoming events or enter contests or information or newsletters. If you opt not to provide us with personally identifiable information no material consequence will result, although you may be unable to participate in certain promotions, order product or receive product information offered through our Website. On some pages, you can submit information about other people. For example, if you order a gift online and want it sent directly to the recipient, you will need to submit the recipient's address. In this circumstance, the types of personal information collected are:
		</p>
	  <ul>
			<li><strong>Name</strong></li>
			<li><strong>Address/Phone Number</strong></li>
		</ul>
		<h3>Cookies</h3>
		<p>
			In order to offer and provide customer service, we may use cookies to record session information, such as items added to shopping carts, and to aid in ordering product. For example, we may use cookies to help remind us who you are and to deliver content and services based on your account information. Cookies are simply pieces of information that are sent to your browser from a Web server and stored on your computer's hard drive. The use of cookies is relatively standard and you will likely find them used on most other major Websites. Most browsers are initially set up to accept cookies. If you prefer, you can customize the settings on your browser either to notify you when you receive a cookie, or to refuse to accept cookies. As we adopt additional technology, we may also gather information through other means.
		</p>
		<h3>The Way We Use Collected Information</h3>
		<p>
			You can register with our Website if you would like to receive updates on our new products and services or upcoming events or contests or newsletters. If you no longer wish to receive such mailings, please update your profile or please contact us at mtd@custhelp.com and provide us with your exact name and e-mail and postal addresses. We use non-identifying information, such as your domain name, and aggregate information on pages consumers access or visit to better design our Website, to help identify customer services issues and internally for marketing purposes. Personally identifiable information may be used for other purposes including but not limited to site administration and troubleshooting. Certain third parties who provide technical support for the operation of our Website may access such information. We will use your information only as permitted by law.
		</p>
		<h3>Our Commitment To Data Security</h3>
		<p>
			Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. Accordingly, despite our efforts to protect your personal information, we cannot ensure or warrant the security of any information you transmit to us, or to or from our online products or services. You transmit all such information at your own risk. However, once we receive your transmission, we make our best effort to ensure its security on our systems.
		</p>
		<p>
			We have put in place appropriate physical, electronic, and managerial procedures to protect against the loss, misuse or alteration of information under our control.
		</p>
		<h3>Our Commitment To Children's Privacy</h3>
		<p>
			Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our Website from those we actually know are under 13. If a child has provided us with personally identifiable information, a parent/guardian may follow the procedures below to access a child's information and to request the information be deleted from our records. We will make reasonable efforts to delete the child's information from our databases.
		</p>
		<h3>How You Can Correct Your Information</h3>
		<p>
			You can access all your personally identifiable information that we collect online and maintain and correct or delete it by updating your "My Account" profile.
		</p>
		<p>
			To protect your privacy and security, we also take reasonable steps to verify your identity before granting access or making corrections.
		</p>
		<h3>Changes to this Privacy Statement</h3>
		<p>
			From time to time, Cub Cadet may use customer information for new purposes not previously disclosed in this privacy notice. If our information practices change at some time in the future, we will post the policy changes here as notification and provide you with the ability to opt out of these new uses. If you are concerned about how your information is used, you should check back to our Website periodically.
		</p>
		<h3>How To Contact Us</h3>
		<p>
			Should you have other questions or concerns about this privacy statement, please send us an email at <a href="mailto: mtd@custhelp.com">mtd@custhelp.com</a> or write us at:
		</p>
		<p>
			Webmaster<br/>
			Cub Cadet Service Division<br/>
			P. O. Box 368023<br/>
			Cleveland, OH 44136-9722<br/>
			(330) 225-2600	
		</p>
	</div>
</div>