<div id="main" role="main" class="register-product label-inline">
	<div class="callout">
		<h1>Register Your Product</h1>
		<p>To register your product, please complete the form below.</p>
		<div class="form-block">
			<form action="/products/register" method="post" class="validate" novalidate id="register-product-form">
				<a href="#warranty-rights" class="show-hide">Warranty Rights</a>
				<div id="warranty-rights" class="hide">
					<p>
						Failure to complete and return this registration does not diminish your Warranty rights.
					</p>
					<p>
						This information will be used for market research purposes and to help Cub Cadet deliver products to better serve our customers.
					</p>
					<p>
						Because we value your privacy, Cub Cadet will not provide customers specific personal information to third parties without customer consent, and will treat such information as confidential.
					</p>
					<p>
						Cub Cadet may disclose information to third party for analysis and marketing purposes, but only after the information has been aggregated so as to prevent identification of personal information relating to a particular customer.
					</p>
				</div>	
				<div class="form-unit">
					<div class="form-input">
						<label for="firstname">First Name</label>
						<input type="text" name="firstname" id="firstname" required data-valid="error-firstname" value="">
					</div>
					<span class="error-field hide" id="error-firstname">First Name is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="lastname">Last Name</label>
						<input type="text" name="lastname" id="lastname" required data-valid="error-lastname" value="">
					</div>
					<span class="error-field hide" id="error-lastname">Last Name is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="company">Company Name</label>
						<input type="text" name="company" id="company" value="">
					</div>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="address">Street Address</label>
						<input type="text" name="address" id="address" required class="related" data-valid="error-address" value="">
					</div>
					<span class="error-field hide" id="error-address">Address is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="address">Street Address</label>
						<input type="text" name="address2" value="">
					</div>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="city">City</label>
						<input type="text" name="city" id="city" data-valid="error-city" value="" required>
					</div>
					<span class="error-field hide" id="error-city">City is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="state" class="label-select">State</label>
						<select name="state" id="state" required data-valid="error-state">
							<option value="">Select (required)</option>
							<option value="AL">Alabama</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DC">DC</option>
							<option value="DE">Delaware</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
					</div>
					<span class="error-field hide" id="error-state">State is a required field</span>
				</div>				
				<div class="form-unit">
					<div class="form-input">
						<label for="zipcode">Zip Code</label>						
						<input type="tel" name="zipcode" id="zipcode" required data-valid="error-zipcode" value="" pattern="[\d]{5}" maxlength="5">							
					</div>
					<span class="error-field hide" id="error-zipcode">Zip Code is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input phone-input">
						<label for="owner-phone-complete">Phone <span>(optional)</span></label>
						<div class="phone-fields">				
							<input type="tel" name="phone" id="phone" class="field-phone field1" maxlength="3">					
							<input type="tel" name="phone2" id="phone2" class="field-phone field2" maxlength="3">					
							<input type="tel" name="phone3" id="phone3" class="field-phone field3" maxlength="4">	
							<input type="tel" name="owner_phone_complete" class="hide hidden-phone" data-valid="error-owner-phone-complete" id="owner-phone-complete" pattern="[\d]{10}">
						</div>
					</div>
					<span class="error-field hide" id="error-owner-phone-complete">Phone is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="email">Email</label>	
						<input type="email" name="email" id="email" required data-valid="error-email" value="">
					</div>
					<span class="error-field hide" id="error-email">Email is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-checkbox form-input">
						<input type="checkbox" name="shipping_policy" id="shipping-policy" value="1" class="block-check">			
						<label class="block-label">Yes! Send me information about promotions, product updates and maintenance alerts. Cub Cadet is committed to safeguarding your privacy. Our Privacy Policy outlines how Cub Cadet handles your information.</label>
					</div>
				</div>		
				<div class="form-unit">
					<div class="form-input">
						<label for="purchased-from" class="label-select">Purchased From</label>
						<select name="purchased_from" id="purchased-from" required data-valid="error-purchased-from">
							<option value="">Select (required)</option>
							<option value="Home Depot">Home Depot</option>
							<option value="Lowes">Lowes</option>
						</select>
					</div>
					<span class="error-field hide" id="error-purchased-from">Purchased From is a required field</span>
				</div>
				<div class="form-unit">
					<div class="select-group">
						<label>Purchase Date: <span class="required">(required)</span></label>	
						<select name="purchase_month" id="purchase-month" class="month">
							<option value="">Month</option>
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
						<select name="purchase_month" id="purchase-month" class="day">
							<option value="">Day</option>
							<% 31.times do |i| %>
							<option value="<%= i + 1 %>"><%= i + 1 %></option>
							<% end %>
						</select>			
						<select name="purchase_year" id="purchase-year" class="year">
							<option value="">Year</option>
							<% 40.times do |i| %>
							<option value="<%= Time.new.year - i %>"><%= Time.new.year - i %></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="product-type" class="label-select">Product Type</label>
						<select name="productType" id="product-type" required data-valid="error-product-type">
							<option value="">Select (required)</option>																				
							<option value="CR">Lawn Tractor</option>												
							<option value="CZ">Zero Turn Rider</option>		
							<option value="CW">Walk Mower</option>													
							<option value="CS">Snowthrower</option>													
							<option value="CP">Chore Performer</option>												
							<option value="CT">Trimmer</option>													
							<option value="CU">Utility Vehicle</option>													
							<option value="CA">Attachments</option>													
						</select>
					</div>
					<span class="error-field hide" id="error-product-type">Product Type is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="model" class="label-select">Model Name</label>
						<select name="model" id="model" required data-valid="error-model">
							<option value="">Select (required)</option>													
						</select>
					</div>
					<span class="error-field hide" id="error-model">Model Name is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="factory-number">Factory Number</label>
						<input type="text" name="factory_number" id="factory-number" required data-valid="error-factory-number" value="">
					</div>
					<span class="error-field hide" id="error-factory-number">Factory Number is a required field</span>
					<p>
						<span class="field-note">Example: 13AK11CK710</span>
					</p>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="serial-number">Serial Number</label>
						<input type="text" name="serial_number" id="serial-number" required data-valid="error-serial-number" value="">
					</div>
					<span class="error-field hide" id="error-serial-number">Serial Number is a required field</span>
					<p>
						<span class="field-note">Example: 1B105H30108</span>
					</p>
				</div>
				<p>
					<span class="img-wrap">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/serial-number-large.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/serial-number-large-2x.jpg" class="lazy-load">
						<noscript>
							<img src="/wcpics/CubCadetMobile/en_US/images/serial-number-large.jpg">
						</noscript>
					</span>
				</p>
				<p>
					<a href="/locate-model" class="action grey locate-model"><i class="icon icon-pre-arrow-large"></i> Locate Your Model #</a>
				</p>
				<div class="form-unit">
					<div class="form-input">
						<label for="end-use">End Use</label>
						<select name="end_use" id="end-use" required data-valid="error-end-use">
							<option value="">Select (required)</option>
							<option value="Residential">Residential</option>
							<option value="Commercial">Commercial</option>
						</select>
					</div>
					<span class="error-field hide" id="error-end-use">End Use is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-checkbox form-input">
						<input type="checkbox" name="under_fourteen" id="under-fourteen" value="1" class="block-check">			
						<label class="block-label"><strong>* Check if UNDER 14 years of age.</strong></label>
					</div>
				</div>
				<p>	
					<button class="action large register" type="submit"><i class="icon icon-pre-arrow-large"></i> Register Product</button>
				</p>
			</form>	
			<p>
				* Registrations will not be accepted for persons under 14 years of age.
			</p>
		</div>
	</div>	
</div>