<div id="main" role="main" class="product-finder">
  <div class="callout"> 
    <h1>Help Me Choose Results</h1>
    <p>
      1-4 of 4 results for:
    </p>
    <ul>
      <li><strong><%= params[:surface] %></strong></li>
      <li><strong><%= params[:terrain] %></strong></li>
      <li><strong><%= params[:obstacles].gsub('None', 'No') %> obstacles</strong></li>
    </ul>
    <a href="/products/finder" class="start-over"><i class="icon icon-pre-arrow-large"></i> Start Over</a>
  </div>
  <div class="model-list">
    <h2>Lawn &amp; Garden Tractors</h2>
    <ul>
      <% 2.times do %>
      <li>
        <i class="icon icon-arrow-r alignright"></i>
        <a href="/products/detail/1419369" class="table">
          <div class="row">
            <div class="img-cell">
              <img data-img="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden-2x.png" class="lazy-load">
              <noscript>
                <img src="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden.png">
              </noscript>
            </div>
            <div class="cell">
              <h3>LTX 1040</h3>
              <h4>Lawn &amp; Garden Tractor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="row">
            <div class="cell hd"></div>
            <div class="cell pricing msrp">
              MSRP: $1,649.00
            </div>  
          </div>
          <div class="row">
            <div class="cell hd product-results">
              <i class="stars"><span><em>4.5</em></span></i> <em class="review-count">(15)</em>
            </div>
            <div class="cell pricing">
              Sale Price: $1,499.00
            </div>  
          </div>  
        </a>
      </li>
      <% end %>
    </ul>
    <h2>Zero-Turn Riding Mowers</h2>
    <ul>
      <% 2.times do %>
      <li>
        <i class="icon icon-arrow-r alignright"></i>
        <a href="/products/detail/1419369" class="table">
          <div class="row">
            <div class="img-cell">
              <img data-img="/wcpics/CubCadetMobile/en_US/images/content/riding.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/riding-2x.png" class="lazy-load">
              <noscript>
                <img src="/wcpics/CubCadetMobile/en_US/images/content/riding.png">
              </noscript>
            </div>
            <div class="cell">
              <h3>RZT&trade; Rider</h3>
              <h4>Zero-Turn Riding Mowers</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="row">
            <div class="cell hd"></div>
            <div class="cell pricing msrp">
              MSRP: $2,799.00
            </div>  
          </div>
          <div class="row">
            <div class="cell hd product-results">
              <i class="stars"><span><em>4.5</em></span></i> <em class="review-count">(15)</em>
            </div>
            <div class="cell pricing">
              Sale Price: $2,499.00
            </div>  
          </div>  
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <nav class="drill-down">
    <ul class="expandable">
      <li><a href="/find-parts" title="Find Genuine Parts">Find Genuine Parts <i class="icon icon-arrow-r"></i></a></li>
      <li><a href="/owners" title="Owner’s Center">Owner’s Center <i class="icon icon-arrow-r"></i></a></li>
    </ul>
  </nav>
</div>