<div id="main" role="main" class="series-landing">
	<div class="hero">
		<a href="javascript:alert('Link not implemented yet');">
			<h1>
				<span class="watch-video alignright"></span>
				Series <%= @series %><br />
				<em>LAWN AND GARDEN TRACTORS</em>
			</h1>
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/product-cat-hero.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/product-cat-hero-2x.jpg" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/product-cat-hero.jpg">
			</noscript>
		</a>
	</div>
	<div class="product-description">
		<h2>MSRP Starting at: $1,999.00</h2>
		<h3>Sale Price As Low As: $1,799.00</h3>
		<h2 class="best-offer">See your local dealer for your best offer</h2>
		<p>
			<a href="/find-store/results" title="Where to Buy" class="action"><i class="icon icon-pre-arrow-large"></i> Where to Buy</a>
		</p>
		<ul>
			<li>18 HP Cub Cadet&reg; professional-grade Kawasaki&reg; single-cylinder OHV engine.</li>
			<li>42” heavy-duty mowing deck.</li>
			<li>TuffTorq&reg; hydrostatic transmission</li>
		</ul>
	</div>
	<div class="model-list">
		<h2>Models</h2>
		<ul>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LTX 1040
						</div>
						<div class="cell pricing">
							MSRP: $1,649.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.5</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $1,499.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LTX 1042 KW
						</div>
						<div class="cell pricing">
							MSRP: $1,999.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.0</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $1,799.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LTX 1045
						</div>
						<div class="cell pricing">
							MSRP: $1,899.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $1,699.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LTX 1046 M
						</div>
						<div class="cell pricing">
							MSRP: $1,999.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $1,799.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LTX 1046 KW
						</div>
						<div class="cell pricing">
							MSRP: $2,199.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $1,999.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LTX 1050 KH
						</div>
						<div class="cell pricing">
							MSRP: $2,199.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $1,999.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LTX 1050 KW
						</div>
						<div class="cell pricing">
							MSRP: $2,399.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $2,199.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LGT 1054
						</div>
						<div class="cell pricing">
							MSRP: $2,799.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $2,599.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							SLTX 1050
						</div>
						<div class="cell pricing">
							MSRP: $2,599.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $2,299.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LGTX 1050
						</div>
						<div class="cell pricing">
							MSRP: $2,899.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $2,699.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							LGTX 1054
						</div>
						<div class="cell pricing">
							MSRP: $3,199.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $2,999.00
						</div>	
					</div>	
				</a>
			</li>
			<li>
				<i class="icon icon-arrow-r alignright"></i>
				<a href="/products/detail/1419369" class="table">
					<div class="row">
						<div class="cell hd">
							GTX 1054
						</div>
						<div class="cell pricing">
							MSRP: $3,499.00
						</div>	
					</div>
					<div class="row">
						<div class="cell hd">
							<i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em>
						</div>
						<div class="cell pricing">
							Sale Price: $3,299.00
						</div>	
					</div>	
				</a>
			</li>
		</ul>		
	</div>	
	<div class="offers">
		<a href="/promotion" class="offer">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/espot-3.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/espot-3-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/espot-3.png">
			</noscript>
		</a>
		<a href="/promotion" class="offer">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/espot-4.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/espot-4-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/espot-4.png">
			</noscript>
		</a>
	</div>
</div>