<div id="main" role="main" class="product-finder">
	<div class="callout">	
		<span class="img-wrap">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/finder-hero.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/finder-hero-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/finder-hero.png">
			</noscript>
		</span>
		<h1>Help Me Choose</h1>
		<p>
			To help you find the right Cub Cadet for your lawn, answer the three questions below.
		</p>
	</div>
	<section class="drill-down" id="selector-widget">
		<form action="/products/finder/results" method="get" id="product-finder-form">
			<ul class="expandable">
				<script id="selector-template" type="text/html">
					<li class="cat-wrapper expanded" id="cat-<@= id @>">
						<div class="expand">
							<span class="category"><@= label @></span>
							<span class="answer"></span>
							<a href="#" title="edit answer">edit answer</a>
						</div>
						<div class="block">
							<div class="question">
								<h3><@= question @></h3>
								<div class="table">
									<div class="row">
										<ul class="cell">
											<@ _.each( answers, function(answer, id) { @>
											<li>
												<input type="radio" name="<@= input_name @>" class="answer-value" data-image="<@= answer.image @>" value="<@= answer.option @>" id="<@= id @>" /> <label for="<@= id @>" onclick=""><@= answer.option @></label>
											</li>
											<@ }); @>
										</ul>
										<div class="cell">
											<span class="img-wrap img-caption"></span>
										</div>
									</div>
								</div>
							</div>
							<button class="action aligncenter invisible" data-action="<@= submit_url @>"><i class="icon icon-pre-arrow-large"></i> <@= action_text @></button>
						</div>
					</li>
				</script>
			</ul>
		</form>
	</section>
</div>