<div id="main" role="main" class="product-detail">
	<div class="hero">
		<span class="img-wrap">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/product-detail.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/product-detail-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/product-detail.png">
			</noscript>
		</span>
		<h1>LTX 1042 KW</h1>
		<h2>Optional Line One</h2>
		<h2>Optional Line Two</h2>
	</div>

	<div class="awards">
		<span class="award">
      <img src="/wcpics/CubCadetMobile/en_US/images/content/top_rated.png" alt="A Top Rated Product" />
    </span>
    <span class="award">
      <img src="/wcpics/CubCadetMobile/en_US/images/content/cd-best-buy-badge.png" alt="Consumers Best Buy Digest" />
    </span>
    <span class="award">
      <img src="/wcpics/CubCadetMobile/en_US/images/content/top_rated.png" alt="A Top Rated Product" />
    </span>
	</div>

	<div class="product-description">
		<h2>MSRP: $1,999.00</h2>
		<h3>Sale Price: $1,799.00</h3>
		<p>
			See your local dealer for your best offer
		</p>
		<ul>
			<li>18 HP Cub Cadet&reg; professional-grade Kawasaki&reg; single-cylinder OHV engine.</li>
			<li>42&quot; heavy-duty mowing deck.</li>
			<li>TuffTorq&reg; hydrostatic transmission</li>
		</ul>
		<p class="buy-online">
			<a href="javascript:alert('Link not implemented yet');" title="Buy Online" class="action">
				<i class="icon icon-pre-arrow-large"></i> Buy Online
			</a>
			<em>With free shipping</em>
		</p>
		<h4 class="wtb-heading">Where To Buy:</h4>
		<ul class="authorized">
			<li class="ccad">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/cub-auth.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/cub-auth-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/cub-auth.png">
					</noscript>
				</span>
			</li>
			<li class="thd">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/avail-hd.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/avail-hd-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/avail-hd.png">
					</noscript>
				</span>
			</li>
			<li class="tsc">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/avail-ts.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/avail-ts-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/avail-ts.png">
					</noscript>
				</span>
			</li>		
		</ul>
		<p class="find-store-link">
			<a href="/find-store/results" title="Where to Buy" class="action"><i class="icon icon-pre-arrow-large"></i> Find a Store</a>
		</p>
	</div>

	<nav class="drill-down">
		<ul class="expandable">
			<li class="collapsed" id="specifications">
				<a href="#specifications" title="Specifications" class="expand">Specifications <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<h1>LTX 1042 KW: Specifications</h1>
					<h2>Engine</h2>
					<ul>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Engine type
								</div>
								<div class="cell">
									18 HP* Cub Cadet&reg; professional-grade Kawasaki&reg; V-Twin
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Cylinders/Material
								</div>
								<div class="cell">
									2/cast-iron sleeve
								</div>
							</div>	
						</li>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Lubrication
								</div>
								<div class="cell">
									Fully pressurized automotive-style oilump with spin-on oil filter
								</div>
							</div>	
						</li>
					</ul>	
					<h2>Drive System</h2>
					<ul>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Drive System
								</div>
								<div class="cell">
									18 HP* Cub Cadet&reg; professional-grade Kawasaki&reg; V-Twin
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Engine to Transmission
								</div>
								<div class="cell">
									2/cast-iron sleeve
								</div>
							</div>	
						</li>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Cruise Control
								</div>
								<div class="cell">
									Fully pressurized automotive-style oilump with spin-on oil filter
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Transmission Housing
								</div>
								<div class="cell">
									Die-cast aluminum
								</div>
							</div>	
						</li>
					</ul>
					<h2>Steering</h2>
					<ul>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Steering
								</div>
								<div class="cell">
									Manual sector &amp; pinion
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Front Axle
								</div>
								<div class="cell">
									Heavy-duty cast-iron with dual greasefittings-5-year limited warranty
								</div>
							</div>	
						</li>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Spindles
								</div>
								<div class="cell">
									3/4&quot;
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Ball Joints
								</div>
								<div class="cell">
									2 automotive-style
								</div>
							</div>	
						</li>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Rear Axle Diameter
								</div>
								<div class="cell">
									3/4&quot; diameter with dual steel drive hubs
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Turning Radius
								</div>
								<div class="cell">
									12&quot;
								</div>
							</div>	
						</li>
					</ul>
					<h2>Chassis</h2>
					<ul>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Chassis Type
								</div>
								<div class="cell">
									Robotically welded steel frame assembly
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Frame
								</div>
								<div class="cell">
									Heavy-duty 9-gauge steel frame rails -5-year limited warranty
								</div>
							</div>	
						</li>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Hood &amp; Grill
								</div>
								<div class="cell">
									Corrosion and dent-resistant high-impact ABS
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Fender &amp; Bumper
								</div>
								<div class="cell">
									Steel fender with grab handles and glove box
								</div>
							</div>	
						</li>
					</ul>
					<h2>Operation</h2>
					<ul>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									PTO Clutch
								</div>
								<div class="cell">
									manual lever control
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Deck Lift
								</div>
								<div class="cell">
									Heavy-duty 9-gauge steel frame rails -5-year limited warranty
								</div>
							</div>	
						</li>
						<li class="table odd">
							<div class="row">
								<div class="cell hd">
									Breaks
								</div>
								<div class="cell">
									Corrosion and dent-resistant high-impact ABS
								</div>
							</div>	
						</li>
						<li class="table">
							<div class="row">
								<div class="cell hd">
									Seat
								</div>
								<div class="cell">
									Steel fender with grab handles and glove box
								</div>
							</div>	
						</li>
					</ul>
				</div>
			</li>
			<li class="collapsed" id="reviews">
				<a href="#reviews" title="Reviews" class="expand">Reviews <i class="stars"><span><em>4.3</em></span></i> <em class="review-count">(15)</em> <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<h1>LTX 1042 KW: Reviews</h1>
					<h2>Overall Rating <i class="stars"><span><em>4.3</em></span></i></h2>
					<ul>
						<li class="odd">
							<p>
								<i class="stars"><span><em>4.3</em></span></i>
							</p>
							<div class="review">
								<h3>Smooth and quiet | <strong>Nick Lawn</strong></h3>
								<p>
									Smooth operation. It has a really tight turning radius but go slow on those tight turns. My lawn never looked so good. I have owned a JD in the past but this Cub 1042KW is far better.
								</p>
								<p>
									From: <strong>Illinois</strong> | Age: <strong>55-70</strong> | Gender: <strong>Male</strong> | Yard Size: <strong>1/2 acre</strong>
								</p>
							</div>
							<div class="table star-cells">
								<div class="row">
									<div class="cell">
										<h3>High Performance</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
									<div class="cell">
										<h3>Progressive Attitude</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<h3>Premium Quality</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
									<div class="cell">
										<h3>Innovative</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<p>
								<i class="stars"><span><em>4.3</em></span></i>
							</p>
							<div class="review">
								<h3>A great cut! | <strong>Jim Shear</strong></h3>
								<p>
									Smooth operation. It has a really tight turning radious but go slow on those tight turns. My lawn never looked so good. I have owned a JD in the past but this Cub 1042KW is far better.
								</p>
								<p>
									From: <strong>Illinois</strong> | Age: <strong>55-70</strong> | Gender: <strong>Male</strong> | Yard Size: <strong>1/2 acre</strong>
								</p>
							</div>
							<div class="table star-cells">
								<div class="row">
									<div class="cell">
										<h3>High Performance</h3>
										<i class="stars"><span><em>3.3</em></span></i>
									</div>
									<div class="cell">
										<h3>Progressive Attitude</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<h3>Premium Quality</h3>
										<i class="stars"><span><em>2.3</em></span></i>
									</div>
									<div class="cell">
										<h3>Innovative</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
								</div>
							</div>
						</li>
						<li class="odd">
							<p>
								<i class="stars"><span><em>4.3</em></span></i>
							</p>
							<div class="review">
								<h3>Smooth and running for years | <strong>Gary Clark Jr.</strong></h3>
								<p>
									Smooth operation. It has a really tight turning radious but go slow on those tight turns. My lawn never looked so good. I have owned a JD in the past but this Cub 1042KW is far better.
								</p>
								<p>
									From: <strong>Illinois</strong> | Age: <strong>55-70</strong> | Gender: <strong>Male</strong> | Yard Size: <strong>1/2 acre</strong>
								</p>
							</div>
							<div class="table star-cells">
								<div class="row">
									<div class="cell">
										<h3>High Performance</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
									<div class="cell">
										<h3>Progressive Attitude</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<h3>Premium Quality</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
									<div class="cell">
										<h3>Innovative</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<p>
								<i class="stars"><span><em>4.3</em></span></i>
							</p>
							<div class="review">
								<h3>Smooth and running for years | <strong>Gary Clark Jr.</strong></h3>
								<p>
									Smooth operation. It has a really tight turning radious but go slow on those tight turns. My lawn never looked so good. I have owned a JD in the past but this Cub 1042KW is far better.
								</p>
								<p>
									From: <strong>Illinois</strong> | Age: <strong>55-70</strong> | Gender: <strong>Male</strong> | Yard Size: <strong>1/2 acre</strong>
								</p>
							</div>
							<div class="table star-cells">
								<div class="row">
									<div class="cell">
										<h3>High Performance</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
									<div class="cell">
										<h3>Progressive Attitude</h3>
										<i class="stars"><span><em>3.2</em></span></i>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<h3>Premium Quality</h3>
										<i class="stars"><span><em>3.7</em></span></i>
									</div>
									<div class="cell">
										<h3>Innovative</h3>
										<i class="stars"><span><em>4.3</em></span></i>
									</div>
								</div>
							</div>
						</li>
					</ul>	
				</div>
			</li>
			<li class="collapsed" id="accessories">
				<a href="#accessories" title="Accessories" class="expand">Accessories <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<ul class="level-two accessories-parts">
						<li>
							<a href="/find-parts/1419369" title="42&quot; / 46&quot; Twin Bagger">
								<span class="img-wrap">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/twin-bagger.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/twin-bagger-2x.jpg" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/twin-bagger.jpg">
									</noscript>
								</span>
								<span class="description">
									<h2>42&quot; / 46&quot; Twin Bagger</h2>
									<h4>19A30003</h4>
									<p>
										Contact Your Local Retailer for Availability
									</p>
								</span>
							</a>
							<span class="action-wrap">
								<a href="/dealers" class="action find-dealer"><i class="icon icon-pre-arrow-large"></i> Find a Dealer</a>
							</span>
						</li>
						<li>
							<a href="/find-parts/1419369" title="Universal Oil Filter Wrench">
								<span class="img-wrap">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/filter-wrench.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/filter-wrench-2x.jpg" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/filter-wrench.jpg">
									</noscript>
								</span>
								<span class="description">
									<h2>Universal Oil Filter Wrench</h2>
									<h4>490-900-0045</h4>
									<p>
										Contact Your Local Retailer for Availability
									</p>
								</span>
							</a>
							<span class="action-wrap">
								<a href="/dealers" class="action find-dealer"><i class="icon icon-pre-arrow-large"></i> Find a Dealer</a>
							</span>
						</li>
						<li>
							<a href="/find-parts/1419369" title="All-Season Protection Universal Tractor Cover">
								<span class="img-wrap">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/tractor-cover.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/tractor-cover-2x.jpg" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/tractor-cover.jpg">
									</noscript>
								</span>
								<span class="description">
									<h2>All-Season Protection Universal Tractor Cover</h2>
									<h4>490-290-0013</h4>
									<p>
										All-season protection universal tractor cover. Its weather-protected fabric is heavy-duty and won't shrink or stretch. It is coated for maximum water resistance.
									</p>	
									<p>
										Contact Your Local Retailer for Availability
									</p>
								</span>
								<span class="price">
									$999.99
								</span>
							</a>
							<span class="action-wrap">
								<form action="/cart" method="post">
									<input type="hidden" name="product_id" value="<%= @id %>">
									<input type="hidden" name="product_price" value="<%= @product['sale_price'] %>">
									<input type="hidden" name="product_quantity" value="1">
									<button type="submit" class="action add-to-cart"><i class="icon icon-pre-arrow-large"></i> Add to Cart</button>
								</form>								
							</span>
						</li>
						<li>
							<a href="/find-parts/1419369" title="490-850-0005">
								<span class="img-wrap">
									<img data-img="/wcpics/CubCadetMobile/en_US/images/content/blade-removal.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/blade-removal-2x.jpg" class="lazy-load">
									<noscript>
										<img src="/wcpics/CubCadetMobile/en_US/images/content/blade-removal.jpg">
									</noscript>
								</span>
								<span class="description">
									<h2>490-850-0005</h2>
									<p>
										Universal Blade Removal Tool for walk-behind and riding lawn mowers: single and twin blade models. Holds blade in place for faster, safer removal.
									</p>
									<p>
										Contact Your Local Retailer for Availability
									</p>
								</span>
								<span class="price">
									$9.99
								</span>
							</a>
							<span class="action-wrap">
								<form action="/cart" method="post">
									<input type="hidden" name="product_id" value="<%= @id %>">
									<input type="hidden" name="product_price" value="<%= @product['sale_price'] %>">
									<input type="hidden" name="product_quantity" value="1">
									<button type="submit" class="action add-to-cart"><i class="icon icon-pre-arrow-large"></i> Add to Cart</button>
								</form>								
							</span>
						</li> 
					</ul>
				</div>
			</li>
			<li class="collapsed" id="parts">
				<a href="#parts" title="Parts" class="expand">Parts <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<div id="part-finder-widget">
						<h1>Part Finder</h1>
						<form class="part-finder-form validate" method="post" action="/find-parts" novalidate>
							<div class="form-unit cell">
								<div class="form-input">
									<label for="part-number">Know Your Part Number?</label>
									<input type="text" id="part-number" class="alt" name="part_number" required data-valid="error-part-number" placeholder="Enter Part #"> 
									<button class="action go"><i class="icon icon-pre-arrow-large"></i> GO</button>
								</div>
								<span class="error-field hide" id="error-part-number">Part Number is a required field</span>
							</div>
							<h3><strong>Need Help Ordering Parts?</strong></h3>
							<p>
								<a href="tel:1-800-269-6215" rel="nofollow" class="action call-support"><i class="icon icon-phone"></i> Call 1-800-269-6215</a>
							</p>
							<p class="hours">
								<strong>Mon - Fri 8AM - 8PM EST<br />
								Sat 9AM - 5PM EST<br/>
								Sun 9AM - 3PM EST</strong>
							</p>
						</form>	
					</div>
				</div>
			</li>
			<li class="collapsed" id="operators-manuals">
				<a href="#operators-manuals" title="Operator's Manuals" class="expand">Operator's Manuals <i class="icon expand-icon icon-plus"></i></a>
				<div class="block">
					<h1>LTX 1042 KW: Operator's Manuals</h1>
					<a href="javascript:alert('Link not implemented yet');" class="pdf">LTX 1042 KW General Manual (PDF)</a>
					<div class="form-block manuals">
						<form action="/manuals/results" method="get" class="validate" novalidate>
							<h2>Search All Manuals</h2>
							<div class="form-unit">
								<div class="form-input">
									<label for="model-number">Enter Model #:</label>
									<input type="text" name="model_number" id="model-number" required placeholder="required" data-valid="error-model-number" value="">
									<span class="field-help">Use partial or full model #</span>
								</div>
								<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
							</div>
							<div class="form-unit">
								<div class="form-input">
									<label for="serial-number">Enter Serial #:</label>
									<input type="text" name="serial_number" placeholder="optional" id="serial-number" value="">
								</div>
							</div>
							<p>
								<button class="action get-manual" type="submit"><i class="icon icon-pre-arrow-large"></i> Search All Manuals</button>
							</p>
						</form>
						<h2>Don't know your model #?</h2>
						<p>
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/serial-number-large.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/serial-number-large-2x.jpg" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/serial-number-large.jpg">
								</noscript>
							</span>
						</p>
						<p><a href="/locate-model" class="action grey locate-model">Locate Your Model #</a></p>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	<h4 class="wtb-heading">Where To Buy:</h4>
	<ul class="authorized">
		<li class="ccad">
			<span class="img-wrap">
				<img data-img="/wcpics/CubCadetMobile/en_US/images/content/cub-auth.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/cub-auth-2x.png" class="lazy-load">
				<noscript>
					<img src="/wcpics/CubCadetMobile/en_US/images/content/cub-auth.png">
				</noscript>
			</span>
		</li>
		<li class="thd">
			<span class="img-wrap">
				<img data-img="/wcpics/CubCadetMobile/en_US/images/content/avail-hd.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/avail-hd-2x.png" class="lazy-load">
				<noscript>
					<img src="/wcpics/CubCadetMobile/en_US/images/content/avail-hd.png">
				</noscript>
			</span>
		</li>
		<li class="tsc">
			<span class="img-wrap">
				<img data-img="/wcpics/CubCadetMobile/en_US/images/content/avail-ts.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/avail-ts-2x.png" class="lazy-load">
				<noscript>
					<img src="/wcpics/CubCadetMobile/en_US/images/content/avail-ts.png">
				</noscript>
			</span>
		</li>		
	</ul>	
	<nav class="drill-down">
		<ul class="expandable">
			<li><a href="/find-parts" title="Find Genuine Parts">Find Genuine Parts <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/owners" title="Owner's Center">Owner's Center <i class="icon icon-arrow-r"></i></a></li>
		</ul>
	</nav>
</div>	