<div id="main" role="main">
	<div class="hero">
		<h1>Lawn &amp; Garden Tractors</h1>
		<img data-img="/wcpics/CubCadetMobile/en_US/images/content/product-cat-hero.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/product-cat-hero-2x.jpg" class="lazy-load">
		<noscript>
			<img src="/wcpics/CubCadetMobile/en_US/images/content/product-cat-hero.jpg">
		</noscript>
	</div>	
	<p class="help-choose">
		<a href="javascript:alert('Link not implemented yet');" class="action full-width"><i class="icon icon-pre-arrow-large"></i> Help Me Choose The Right Tractor</a>
	</p>
	<nav class="series-list">
		<ul>
			<li>
				<a href="/products/<%= @category %>/1000">
					<span class="img-wrap">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/series-landing.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/series-landing-2x.png" class="lazy-load">
						<noscript>
							<img src="/wcpics/CubCadetMobile/en_US/images/content/series-landing.png">
						</noscript>
					</span>
					<span class="description">
						<h1>Series 1000:</h1>
						<h2>Lawn tractors ideal for maintaining medium-sized yard</h2>
					</span>
					<span class="icon-circle">
						<i class="circle"><i class="icon icon-arrow-r"></i></i>
					</span>
				</a>
			</li>
			<li>
				<a href="/products/<%= @category %>/2000">
					<span class="img-wrap">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/series-landing.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/series-landing-2x.png" class="lazy-load"></span>
						<noscript>
							<img src="/wcpics/CubCadetMobile/en_US/images/content/series-landing.png">
						</noscript>
					</span>
					<span class="description">
						<h1>Series 2000:</h1>
						<h2>Garden tractors ideal for mowing large yards and landscaping</h2>
					</span>
					<span class="icon-circle">
						<i class="circle"><i class="icon icon-arrow-r"></i></i>
					</span>
				</a>
			</li>
		</ul>	
	</nav>
	<nav class="drill-down">
		<ul class="expandable">
			<li><a href="/find-parts" title="Find Genuine Parts">Find Genuine Parts <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/owners" title="Owner’s Center">Owner’s Center <i class="icon icon-arrow-r"></i></a></li>
		</ul>
	</nav>
	<div class="offers">
		<a href="/promotion" class="offer">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/espot-3.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/espot-3-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/espot-3.png">
			</noscript>
		</a>
		<a href="/promotion" class="offer">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/espot-4.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/espot-4-2x.png" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/espot-4.png">
			</noscript>
		</a>
	</div>
</div>