<div id="main" role="main" class="promotion">
	<div class="hero">
		<a href="javascript:alert('Link not implemented yet');">
			<img data-img="/wcpics/CubCadetMobile/en_US/images/content/promo.jpg" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/promo-2x.jpg" class="lazy-load">
			<noscript>
				<img src="/wcpics/CubCadetMobile/en_US/images/content/promo.jpg">
			</noscript>
		</a>
	</div>	
	<nav class="drill-down">
		<ul class="expandable">
			<li class="collapsed" id="find-event">
				<a href="#find-event" title="Find an event" class="expand">Find an event <i class="icon expand-icon icon-plus"></i></a>
				<div class="block top-block">
					<h2>Put Cub Cadet to the test at the traveling Test Drive Challenge</h2>
					<p>
						Don’t miss out on this exciting opportunity to experience the best riders in the industry for yourself.
					</p>
					<form class="find-event-form" action="/events" method="get" class="validate" novalidate>
						<label for="zip">Enter your ZIP code to find an event near you:</label> 
						<div class="form-unit">
							<div class="form-input">
								<label for="zip" class="hide">Zip Code</label> 						
								<input type="tel" name="zip" id="zip" data-valid="error-zip" value="" placeholder="ZIP CODE" pattern="[\d]{5}" maxlength="5" required value=""> 
								<button class="action find-event" type="submit"><i class="icon icon-pre-arrow-large"></i> Find an Event</button>			
							</div>					
							<span class="error-field hide" id="error-zip">Zip Code is a required field</span>
						</div>
					</form>	
					<p class="extra-options">
						or view <a href="javascript:alert('Link not implemented yet');"><i class="icon icon-pre-arrow-large"></i> All event stops</a>
					</p>
				</div>
			</li>
			<li class="collapsed" id="view-online-challenge">
				<a href="#view-online-challenge" title="View Online Challenge" class="expand">View Online Challenge <i class="icon expand-icon icon-plus"></i></a>
				<div class="block top-block">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat, risus vitae vestibulum lacinia, nunc lorem condimentum erat, eget lobortis nunc lacus sit amet massa. Donec vel lorem eget quam porta aliquam in et erat. Nulla blandit pretium feugiat.
					</p>
				</div>
			</li>
			<li class="collapsed" id="find-your-dealer">
				<a href="#find-your-dealer" title="Find Your Dealer" class="expand">Find Your Dealer <i class="icon expand-icon icon-plus"></i></a>
				<div class="block top-block">
					<div class="location-search">
						<h2>Find a Cub Cadet Dealer Near You</h2>
						<p>
							Enter your location information and product information below to find dealers in your area.
						</p>
						<form action="/dealers/results" method="get" class="validate" novalidate>
							<input type="hidden" name="latitude" id="latitude" value="">
							<input type="hidden" name="longitude" id="longitude" value="">
							<div class="form-unit">
								<div class="form-input">
									<label for="radius">Search Within:</label>
									<select name="radius" id="radius" class="alt" required data-valid="error-radius">
										<option value="10">0 to 10 Miles</option>												
										<option value="25">0 to 25 Miles</option>												
										<option value="50">0 to 50 Miles</option>												
										<option value="100">0 to 100 Miles</option>												
										<option value="300">0 to 300 Miles</option>																		
									</select>
								</div>
								<span class="error-field hide" id="error-radius">Radius is a required field</span>
							</div>
							<div class="form-unit">
								<div class="form-input">
									<label for="product-type">Product Type:</label>
									<select name="product-type" id="product-type" class="alt" required data-valid="error-product-type">
										<option value="Lawn &amp; Garden Tractors">Lawn &amp; Garden Tractors</option>												
										<option value="Zero Turn Riding Mowers">Zero Turn Riding Mowers</option>												
										<option value="Walk Behind Mowers">Walk Behind Mowers</option>												
										<option value="Handheld &amp; Cleanup">Handheld &amp; Cleanup</option>												
										<option value="Snow Throwers">Snow Throwers</option>
										<option value="Utility Vehicles">Utility Vehicles</option>
									</select>
								</div>
								<span class="error-field hide" id="error-product-type">Product Type is a required field</span>
							</div>
							<div class="form-unit">
								<div class="form-checkbox-location">
									<div class="form-input">
										<label>Location:</label>
										<input type="checkbox" name="location" class="geolocate" id="location" value="1" class="" /> 
										<label class="inline-label">Use My Current Location</label>
									</div>
								</div>
							</div>
							<p class="inline-or locate-by-zip-wrapper">OR</p>
							<div class="form-unit locate-by-zip-wrapper">
								<div class="form-input">
									<label for="zip" class="invisible">Zip Code</label>						
									<input type="tel" name="zip" id="zip" data-valid="error-zip-dealer" placeholder="ZIP CODE" pattern="[\d]{5}" maxlength="5" required>		
								</div>					
								<span class="error-field hide" id="error-zip-dealer">Zip Code or Current Location is a required field</span>
							</div>
							<p>
								<button class="action find-dealer" type="submit"><i class="icon icon-pre-arrow-large"></i> Find Dealer</button>
							</p>
						</form>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	<h3 class="indent">Available at:</h3>
	<ul class="authorized">
		<li class="ccad">
			<a href="/dealers">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/cub-auth.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/cub-auth-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/cub-auth.png">
					</noscript>
				</span>
			</a>
		</li>
		<li class="thd">
			<a href="/stores/home-depot">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/avail-hd.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/avail-hd-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/avail-hd.png">
					</noscript>
				</span>
			</a>
		</li>
		<li class="tsc">
			<a href="/stores/tractor-supply">
				<span class="img-wrap">
					<img data-img="/wcpics/CubCadetMobile/en_US/images/content/avail-ts.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/avail-ts-2x.png" class="lazy-load">
					<noscript>
						<img src="/wcpics/CubCadetMobile/en_US/images/content/avail-ts.png">
					</noscript>
				</span>
			</a>
		</li>		
	</ul>
</div>