<div id="main" role="main" class="search-results">
	<div class="white-frame">
		<div class="result-heading">
			<h1>Search Results</h1>
			<p>
				Your search for <strong>&quot;<%= params[:q] %>&quot;</strong> returned <strong>74</strong> results.
			</p>
		</div>
		<div class="tabs">
			<a href="#products-results" class="active">Products (19)</a><a href="#articles-results">Videos/Articles (55)</a>
		</div>
		<div class="tab-content results-tab current" id="products-results">	
			<div class="paging group">
				<a href="javascript:alert('Link Not Implemented');" title="Prev" class="inactive col">Prev</a>
				<span class="col">1 of 2</span>
				<a href="javascript:alert('Link Not Implemented');" title="Next" class="last col">Next</a>			
			</div>
			<ul class="product-results">
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<em>No ratings available</em>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>Z-Force S Commercial - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>Z-Force S Commercial - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<em>No ratings available</em>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>Z-Force S Commercial - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<em>No ratings available</em>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>Z-Force S Commercial - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<em>No ratings available</em>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<em>No ratings available</em>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
				<li>
					<a href="/products/detail/1419369" title="Zero Turn Mower" class="group">
						<div class="photo col">
							<span class="img-wrap">
								<img data-img="/wcpics/CubCadetMobile/en_US/images/content/search-product.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/search-product-2x.png" class="lazy-load">
								<noscript>
									<img src="/wcpics/CubCadetMobile/en_US/images/content/search-product.png">
								</noscript>	
							</span>					
						</div>
						<div class="metadata col">
							<h2>RZT&trade; S 42 - Free Shipping</h2>
							<div class="pricing">
								<span><del>$2,899.00</del></span>
								<span><strong>$2,699.00</strong></span>
							</div>
							<div class="ratings">
								<i class="stars"><span><em>4.5</em></span></i>
							</div>
						</div>
					</a>
				</li>	
			</ul>	
			<div class="paging bottom">
				<div class="pages">
					<strong>Showing 1 - 16 of 19</strong>
				</div>
				<div class="prev-next">
					<a href="javascript:alert('Link Not Implemented');" title="Prev" class="inactive">Prev</a>
					<a href="javascript:alert('Link Not Implemented');" title="Next">Next</a>
				</div>
			</div>	
		</div>
		<div class="tab-content results-tab" id="articles-results">	
			<div class="paging group">
				<a href="javascript:alert('Link Not Implemented');" title="Prev" class="col">Prev</a>
				<span class="col">2 of 4</span>
				<a href="javascript:alert('Link Not Implemented');" title="Next" class="last col">Next</a>			
			</div>
			<ul class="doc-list">
				<li>
					<a href="/knowledge-center/video-step-by-step"><i class="icon icon-movie"></i> Chipper Shredder Maintenance Schedule and Tips</a>
				</li>
				<li>
					<a href="/knowledge-center/video-step-by-step"><i class="icon icon-movie"></i> Garden Tiller Maintenance Schedule and Tips</a>
				</li>
				<li>
					<a href="/knowledge-center/article-step-by-step"><i class="icon icon-doc"></i> How to Assemble Tire Chains on your Cub Cadet Riding Mower</a>
				</li>
				<li>
					<a href="/knowledge-center/article-table"><i class="icon icon-doc"></i> How to Change the Air Filter on a Cub Cadet Rider</a>
				</li>
				<li>
					<a href="/knowledge-center/video-step-by-step"><i class="icon icon-movie"></i> How to Change the Air Filter on a Cub Cadet Zero-Turn Rider</a>
				</li>
				<li>
					<a href="/knowledge-center/article"><i class="icon icon-doc"></i> How to Change the Air Filter on a Cub Cadet Zero-Turn Rider</a>
				</li>
				<li>
					<a href="/knowledge-center/video-step-by-step"><i class="icon icon-movie"></i> Chipper Shredder Maintenance Schedule and Tips</a>
				</li>
				<li>
					<a href="/knowledge-center/video-step-by-step"><i class="icon icon-movie"></i> Garden Tiller Maintenance Schedule and Tips</a>
				</li>
				<li>
					<a href="/knowledge-center/article-step-by-step"><i class="icon icon-doc"></i> How to Assemble Tire Chains on your Cub Cadet Riding Mower</a>
				</li>
				<li>
					<a href="/knowledge-center/article-table"><i class="icon icon-doc"></i> How to Change the Air Filter on a Cub Cadet Rider</a>
				</li>
				<li>
					<a href="/knowledge-center/video-step-by-step"><i class="icon icon-movie"></i> How to Change the Air Filter on a Cub Cadet Zero-Turn Rider</a>
				</li>
				<li>
					<a href="/knowledge-center/article"><i class="icon icon-doc"></i> How to Change the Air Filter on a Cub Cadet Zero-Turn Rider</a>
				</li>
				<li>
					<a href="/knowledge-center/video-step-by-step"><i class="icon icon-movie"></i> Chipper Shredder Maintenance Schedule and Tips</a>
				</li>
				<li>
					<a href="/knowledge-center/video-step-by-step"><i class="icon icon-movie"></i> Garden Tiller Maintenance Schedule and Tips</a>
				</li>
				<li>
					<a href="/knowledge-center/article-step-by-step"><i class="icon icon-doc"></i> How to Assemble Tire Chains on your Cub Cadet Riding Mower</a>
				</li>
				<li>
					<a href="/knowledge-center/article-table"><i class="icon icon-doc"></i> How to Change the Air Filter on a Cub Cadet Rider</a>
				</li>
			</ul>
			<div class="paging bottom">
				<div class="pages">
					<strong>Showing 17 - 32 of 55</strong>
				</div>
				<div class="prev-next">
					<a href="javascript:alert('Link Not Implemented');" title="Prev">Prev</a>
					<a href="javascript:alert('Link Not Implemented');" title="Next">Next</a>
				</div>
			</div>	
		</div>
	</div>
</div>