<div id="main" role="main" class="sign-in label-inline">
	<% if @page_message %>
	<div class="page-message">
		Please sign in.
	</div>	
	<% end %>
	<div class="callout">
		<h1>Sign In</h1>
		<% if logged_in? %>
		<p>
			You are currently logged in. Please <a href="/">click here</a> to continue shopping.
		</p>
		<% else %>
		<p>
			Please enter your account information to sign in.
		</p>
		<div class="checkout-block my-account">
			<form action="/login" method="post" class="validate form-signin" id="form-signin" novalidate>
				<div class="form-unit">
					<div class="form-input">
						<label for="username">Username (Email):</label>
						<input type="text" name="username" id="username" data-valid="error-username" required />
					</div>
					<span class="error-field hide" id="error-username">Username (Email) is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="password">Password:</label>
						<input type="password" name="password" id="password" data-valid="error-password" required>
						<a href="/forgot-password" title="forgot password?" id="forgot-password-link">Forgot password?</a>
					</div>
					<span class="error-field hide" id="error-password">Password is a required field</span>
				</div>
				<button class="action large sign-in" type="submit">Sign In</button>	
			</form>
		</div>
		<p>
			<strong class="no-account">Don’t have an account?</strong>
		</p>
		<p>
			<a href="/register" class="action grey create-account"><i class="icon icon-pre-arrow-large"></i> Create Account</a>
		</p>
		<% end %>
	</div>	
</div>	