<div id="main" role="main" class="series-landing available-at <%= @store[:short_name]%>">
	<div class="callout table store-info">
		<div class="row">
			<div class="cell store-image">
				<span class="img-wrap">
					<img data-img="<%= @store[:image] %>" data-img-hd="<%= @store[:image_hd] %>" class="lazy-load">
					<noscript>
						<img src="<%= @store[:image] %>">
					</noscript>
				</span>
			</div>
			<div class="cell">
				<a href="javascript:alert('Link not implemented yet');" class="action get-directions"><i class="icon icon-pre-arrow-large"></i> Get Directions</a> 
				<a href="javascript:alert('Link not implemented yet');" class="action grey visit-site"><i class="icon icon-pre-arrow-large"></i> Visit Site</a> 
			</div>
		</div>	
	</div>	
	<div class="category-products other">
		<h2>Products available At <%= @store[:name] %></h2>
		<ul class="products other">
			<li id="where-lawn-garden">
				<a href="/stores/<%=@store_slug%>/lawn-garden" class="thumb">
					<div class="img-cell">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden-2x.png" class="lazy-load">
						<noscript>
							<img src="/wcpics/CubCadetMobile/en_US/images/content/lawn-garden.png">
						</noscript>
					</div>
					Lawn &amp; Garden Tractors <i class="icon icon-arrow-r"></i>
				</a>	
			</li>
			<li>
				<a href="/stores/<%=@store_slug%>/lawn-garden" class="thumb">
					<div class="img-cell">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/riding.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/riding-2x.png" class="lazy-load">
						<noscript>
							<img src="/wcpics/CubCadetMobile/en_US/images/content/riding.png">
						</noscript>
					</div>
					Zero Turn Riding Mowers <i class="icon icon-arrow-r"></i>
				</a>
			</li>
			<li>
				<a href="/stores/<%=@store_slug%>/lawn-garden" class="thumb">
					<div class="img-cell">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/walk-behind.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/walk-behind-2x.png" class="lazy-load">
						<noscript>
							<img src="/wcpics/CubCadetMobile/en_US/images/content/walk-behind.png">
						</noscript>
					</div>
					Walk Behind Mowers <i class="icon icon-arrow-r"></i>
				</a>
			</li>
			<li>
				<a href="/stores/<%=@store_slug%>/lawn-garden" class="thumb">
					<div class="img-cell">
						<img data-img="/wcpics/CubCadetMobile/en_US/images/content/handheld.png" data-img-hd="/wcpics/CubCadetMobile/en_US/images/content/handheld-2x.png" class="lazy-load">
						<noscript>
							<img src="/wcpics/CubCadetMobile/en_US/images/content/handheld.png">
						</noscript>
					</div>
					Handheld &amp; Cleanup <i class="icon icon-arrow-r"></i>
				</a>
			</li>
		</ul>	
	</div>	
	<nav class="drill-down">
		<ul class="expandable">
			<li><a href="/find-parts" title="Find Genuine Parts">Find Genuine Parts <i class="icon icon-arrow-r"></i></a></li>
			<li><a href="/owners" title="Owner’s Center">Owner’s Center <i class="icon icon-arrow-r"></i></a></li>
		</ul>
	</nav>
</div>